{% extends 'main/Client/include/base.html' %}
{% block navigationBase %}
{% include 'main/Client/include/navigationBase.html' %}
{% endblock %}

{% load static%}
{% block content%}

{% if group|stringformat:'s' == 'Copy Writer Manager' or group|stringformat:'s' == 'Editor Manager' or group|stringformat:'s' == 'Translator Manager'%}
{% include 'main/Client/include/applicantManagers.html' %}
{% else %}
{% include 'main/Client/include/clientDashboard.html' %}
{% endif %}

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img src="{% static 'assets/img/about.jpg'%}" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3>We are the publishing company that owns MT5.com and Forum.MT5.com.</h3>
          <p class="fst-italic">We are looking for aspiring content and copywriters with knowledge of Forex exchange
            trading.</p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i>
              Work from home now.
            </li>
            <li>
              <i class="bi bi-check-circle"></i>
              Own your time, monetize your skills.
            </li>
            <li>
              <i class="bi bi-check-circle"></i>
              Free time or full time.
            </li>
          </ul>
          <p>Writeam has been a publishing company past 12 years for notable companies like MT5.com and Forex.MT5.com
            - an online forex trading forum. Together with our trusted partners, we have built a reputable name in the
            publishing industry, banking on our ability to provide on-time high quality output suitable for each of
            our reader’s style and need. </p>

          <p>We look forward to collaborating with you! Send us a message today!</p>

          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-4" data-aos="fade-up">
          <div class="box disabled">
            {% if jobList.0.is_onHire %}
            <span><i class="bi bi-pencil-square fs-1"></i></span>
            <h4>Hiring {{jobList.0}}</h4>
            {%else%}
            <span><i class="bi bi-pencil-square fs-1" style="color: gray;"></i></span>
            <h4 style="text-decoration: line-through;">Hiring {{jobList.0}}</h4>
            {%endif%}
            <p>{{jobList.0.job_Description}}</p>
          </div>
        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="150">
          <div class="box">

            {% if jobList.1.is_onHire %}
            <span><i class="bi bi-file-earmark-zip-fill fs-1"></i></span>
            <h4>Hiring {{jobList.1}}</h4>
            {%else%}

            <span><i class="bi bi-file-earmark-zip-fill fs-1" style="color: gray;"></i></span>
            <h4 style="text-decoration: line-through;">Hiring {{jobList.1}}</h4>
            {%endif%}

            <p>{{jobList.1.job_Description}}</p>

          </div>
        </div>

        <div class="col-lg-4 " data-aos="fade-up" data-aos-delay="300">
          <div class="box">
            {% if jobList.2.is_onHire %}

            <span><i class="bi bi-translate fs-1"></i></span>
            <h4>Hiring {{jobList.2}}</h4>
            {%else%}

            <span><i class="bi bi-translate fs-1" style="color: gray;"></i></span>
            <h4 style="text-decoration: line-through;">Hiring {{jobList.2}}</h4>

            {%endif%}

            <p>{{jobList.2.job_Description}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">
      <div class="row d-flex align-items-center">
        <div class="col-lg-4 col-md-4 col-6">
          <a href="https://forum.mt5.com/"><img src="{% static 'assets/img/clients/mt5-1.png'%}" class="img-fluid" alt="" /></a>

        </div>

        <div class="col-lg-4 col-md-4 col-6">
          <a href="https://www.facebook.com/writeam5"><img src="{% static 'assets/img/clients/writeam-1.png'%}" class="img-fluid" alt="" /></a>
        </div>

        <div class="col-lg-4 col-md-4 col-6">
          <a href="https://www.fx.co/en"><img src="{% static 'assets/img/clients/fx-1.png'%}" class="img-fluid" alt="" /></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Clients Section -->

  <!-- ======= Qualifications Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="section-title">
        <span>Qualifications</span>
        <h2>Qualifications</h2>
        <p>The company is looking for writers with-</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Excellent Writing Skills</a></h4>
            <p>Writers who are good at english writing, grammars and punctuations. Most of the forum readers are foreigners so your english and writing skills are highly encouraged.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Knowledge on Forex Niche</a></h4>
            <p>Understanding SEO and experience with ranking your content will be highly advantageous.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Work Remotely</a></h4>
            <p>Writers must have their own computer or laptop and good internet connection at home. </p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Qualifications Section -->


  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="section-title">
        <span>Threads</span>
        <h2>Threads</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">ALL</li>
            <li data-filter=".filter-encyclopedia">Forex Encyclopedia</li>
            <li data-filter=".filter-reviews">Forex Reviews</li>
            <li data-filter=".filter-strategies">Trading Strategies</li>
          </ul>
        </div>
      </div>

      <!-- Start of forex-encyclopedia -->
      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
        <div class="col-lg-4 col-md-6 portfolio-item filter-encyclopedia">
          <img src="{% static 'assets/img/portfolio/thread-1.png'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Encyclopedia</h4>
            <p>Crypto coins and its prices</p>
            <a href="{% static 'assets/img/portfolio/thread-1.png'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?326228-Crypto-Coins-and-Its-Prices" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-encyclopedia">
          <img src="{% static 'assets/img/portfolio/thread-2.jpg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Encyclopedia</h4>
            <p>ETFs vs. investment bonds</p>
            <a href="{% static 'assets/img/portfolio/thread-2.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?330911-ETFs-vs.-investment-bonds" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-encyclopedia">
          <img src="{% static 'assets/img/portfolio/thread-3.jpg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Encyclopedia</h4>
            <p>How to install and set up Pipbreaker? – the best Forex indicator</p>
            <a href="{% static 'assets/img/portfolio/thread-3.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?318859-How-to-install-and-Set-up-Pipbreaker-%96-the-Best-Forex-indicator&highlight=" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-encyclopedia">
          <img src="{% static 'assets/img/portfolio/thread-4.png'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Encyclopedia</h4>
            <p>An ultimate guide on mobile trading with MT4 and MT5 app for android</p>
            <a href="{% static 'assets/img/portfolio/thread-4.png'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?311478-An-Ultimate-Guide-on-Mobile-trading-with-MT4-and-MT5-App-for-Android&highlight=" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-encyclopedia">
          <img src="{% static 'assets/img/portfolio/thread-5.jpg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Encyclopedia</h4>
            <p>Foreign stocks: How to Invest?</p>
            <a href="{% static 'assets/img/portfolio/thread-5.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?330403-Foreign-Stocks-How-to-Invest" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-encyclopedia">
          <img src="{% static 'assets/img/portfolio/thread-6.png'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Encyclopedia</h4>
            <p>Forex history: When is it discovered?</p>
            <a href="{% static 'assets/img/portfolio/thread-6.png'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?330390-Forex-History-When-is-it-discovered" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <!-- Start of forex reviews  -->
        <div class="col-lg-4 col-md-6 portfolio-item filter-reviews">
          <img src="{% static 'assets/img/portfolio/thread-7.jpg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Reviews</h4>
            <p>Drone stocks: Top 10 to watch and invest in 2021</p>
            <a href="{% static 'assets/img/portfolio/thread-7.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?330514-Drone-Stocks-Top-10-to-Watch-and-Invest-in-2021&highlight=" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-reviews">
          <img src="{% static 'assets/img/portfolio/thread-8.jpg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Reviews</h4>
            <p>Over the counter (OTC) market and its trading hours - Overview</p>
            <a href="{% static 'assets/img/portfolio/thread-8.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?330878-Over-The-Counter-(OTC)-Market-and-Its-Trading-Hours-Overview" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-reviews">
          <img src="{% static 'assets/img/portfolio/thread-9.jpg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Reviews</h4>
            <p>What is the difference of Dogecoin from other cryptocurrencies?</p>
            <a href="{% static 'assets/img/portfolio/thread-9.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?307771-What-is-the-Difference-of-Dogecoin-from-other-Cryptocurrencies&highlig" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-reviews">
          <img src="{% static 'assets/img/portfolio/thread-10.jpeg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Reviews</h4>
            <p>Weighing Ethereum versus the dollar</p>
            <a href="{% static 'assets/img/portfolio/thread-10.jpeg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?326291-Weighing-Ethereum-versus-the-Dollar&highlight=ethereum" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-reviews">
          <img src="{% static 'assets/img/portfolio/thread-11.png'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Reviews</h4>
            <p>Should you invest in cryptocurrency?</p>
            <a href="{% static 'assets/img/portfolio/thread-11.png'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?326934-Should-You-Invest-in-Cryptocurrency&highlight=cryptocurrencyl" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-reviews">
          <img src="{% static 'assets/img/portfolio/thread-12.jpg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Reviews</h4>
            <p>Ripple (XRP) cryptocurrency: Should you buy it?</p>
            <a href="{% static 'assets/img/portfolio/thread-12.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?326496-Ripple-(XRP)-Cryptocurrency-Should-You-Buy-It&highlight=cryptocurrency" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <!-- Start of Trading Strategies -->

        <div class="col-lg-4 col-md-6 portfolio-item filter-strategies">
          <img src="{% static 'assets/img/portfolio/thread-13.jpe'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Strategies</h4>
            <p>How to short the pound Sterling?</p>
            <a href="{% static 'assets/img/portfolio/thread-13.jpe'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?330293-How-to-Short-the-Pound-Sterling" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-strategies">
          <img src="{% static 'assets/img/portfolio/thread-14.jpg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Strategies</h4>
            <p>How to make money on stock exchange: Australian dollar euro rate and dynamics in 2021</p>
            <a href="{% static 'assets/img/portfolio/thread-14.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?329934-How-To-Make-Money-On-Stock-Exchange-Australian-Dollar-Euro-Rate-And-Dynamics-In-2021" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-strategies">
          <img src="{% static 'assets/img/portfolio/thread-15.jpg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Strategies</h4>
            <p>What to look for in a day trading software</p>
            <a href="{% static 'assets/img/portfolio/thread-15.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?328708-WHAT-TO-LOOK-FOR-IN-A-DAY-TRADING-SOFTWARE" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-strategies">
          <img src="{% static 'assets/img/portfolio/thread-16.jpeg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Strategies</h4>
            <p>Candlestick patterns for scalping</p>
            <a href="{% static 'assets/img/portfolio/thread-16.jpeg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?327957-CANDLESTICK-PATTERNS-FOR-SCALPING" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-strategies">
          <img src="{% static 'assets/img/portfolio/thread-17.jpg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Strategies</h4>
            <p>Strategies for Hedgefund</p>
            <a href="{% static 'assets/img/portfolio/thread-17.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?327500-Strategies-for-Hedge-Fund" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-strategies">
          <img src="{% static 'assets/img/portfolio/thread-18.jpg'%}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>Strategies</h4>
            <p>Forex strategies for H1</p>
            <a href="{% static 'assets/img/portfolio/thread-18.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="https://forum.mt5.com/showthread.php?330880-Forex-strategies-for-H1" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container">
      <div class="section-title">
        <span>Team</span>
        <h2>Meet Our Team</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="{% static 'assets/img/team/erol-2.png'%}" alt="" />
            <h4>Karl Erol Pasion</h4>
            <span>Project Manager | Web Developer</span>
            <p>Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut
              aut aut</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="{% static 'assets/img/team/paco.jpg'%}" alt="" />
            <h4>Christian Jay Paco</h4>
            <span>Programmer</span>
            <p>Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut
              aut aut</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="{% static 'assets/img/team/em.png'%}" alt="" />
            <h4>Ericka Michelle Labajo</h4>
            <span>Web Designer | Researcher</span>
            <p>Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="{% static 'assets/img/team/shiela.png'%}" alt="" />
            <h4>Shiela Mae Sotelo</h4>
            <span>Researcher</span>
            <p>Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <span>Contact</span>
        <h2>Contact</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-6">
          <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>Visit Us</h3>
            <p>https://www.facebook.com/writeam5</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box mb-4">
            <i class="bx bx-envelope"></i>
            <h3>Email Us</h3>
            <p>team5@writeam.com</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box mb-4">
            <i class="bx bx-phone-call"></i>
            <h3>Call Us</h3>
            <p>0927 178 6268</p>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-up">

        <div class="col-12">
          <form method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required />
              </div>
              <div class="col-6 mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required />
              </div>
            </div>
            <div class="mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required />
            </div>
            <div class="mt-3">
              <textarea class="form-control" name="message" rows="10" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="editorModal" tabindex="-1" aria-labelledby="editorLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align:center">
          <h5 class="modal-title fw-bold" id="editorLabel"><i class="bi bi-pencil-square"></i> Editor</h5>
        </div>
        <div class="modal-body">
          {% for job in jobList%}
          {% if job.job_Title == "Editor"%}
          {{job.job_Description}}
          {% endif%}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="copywriterModal" tabindex="-1" aria-labelledby="copywriterLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align:center">
          <h5 class="modal-title fw-bold" id="copywriterLabel"><i class="bi bi-translate"></i> Copy Writer</h5>
        </div>
        <div class="modal-body">
          {% for job in jobList%}
          {% if job.job_Title == "Copy Writer"%}
          {{job.job_Description}}
          {% endif%}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="translatorModal" tabindex="-1" aria-labelledby="translatorLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align:center">
          <h5 class="modal-title fw-bold" id="translatorLabel"><i class="bi bi-pencil-square"></i> Translator</h5>
        </div>
        <div class="modal-body">
          {% for job in jobList%}
          {% if job.job_Title == "Translator"%}
          {{job.job_Description}}
          {% endif%}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- End #main -->

{% endblock %}

{% block footerContent %}
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright
      <strong><span>HumanAnalytics</span></strong>
      . All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
      Designed by
      <a href="https://bootstrapmade.com/">SamSanTech</a>
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>
<div id="preloader"></div>
{% endblock %}

{% block scriptContent %}
<script>

  const pages = document.querySelectorAll('.hero-page');
  var pageNo = 0
  console.log(pages.length)
  $("#next").click(function () {
    nextPage()
  });

  $("#back").click(function () {
    backPage()
  });

  $("#appDe").click(function () {
    temp = $('#appDe').attr('data-page')
    if (temp != pageNo) {
      $(pages[pageNo]).removeClass('active')
      $(pages[temp]).addClass('active')
      pageNo = temp
    }
  });

  $("#accDe").click(function () {
    temp = $('#accDe').attr('data-page')
    if (temp != pageNo) {
      $(pages[pageNo]).removeClass('active')
      $(pages[temp]).addClass('active')
      pageNo = temp
    }
  });

  function nextPage() {
    if (pageNo < pages.length - 1) {
      $(pages[pageNo]).removeClass('active')
      pageNo++;
      $(pages[pageNo]).addClass('active')
    }
  }

  function backPage() {
    if (pageNo > 0) {
      console.log($(pages[pageNo]))
      $(pages[pageNo]).removeClass("active");
      pageNo--;
      $(pages[pageNo]).addClass('active')
    }
  }
</script>
{% endblock %}