{% extends 'main/Client/include/base.html' %}

{% load static%}

{% block cssJsLink%}

<link rel="stylesheet" href="{% static 'assets/vendor/jqUI/jquery-ui.min.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/polyfills.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script src="{% static 'assets/js/html2canvas.js' %}"></script>
<script src="{% static 'assets/js/html2canvas.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js" integrity="sha512-U5C477Z8VvmbYAoV4HDq17tf4wG6HXPC6/KM9+0/wEXQQ13gmKY2Zb0Z2vu0VNUWch4GlJ+Tl/dfoLOH4i2msw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" /> -->
{% endblock %}

{% block content%}
<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center justify-content-end text-light position-fixed col-12" style="background-color: rgb(201, 76, 76, 0)">
  <span class="spanacc me-2">Done already?</span>
  <a href="{%url 'index'%}" class="btn btn-outline-light btn-sm text-start button me-2" type="button " id="button-addon1 ">Return</a>
  <!-- <span class="spanacc me-2"> Need Help? </span> -->
</section>
<div class="split-screen" style="background-color: #80beef;">
  <div class="resume" style="background-color: white">
    <div class="container">
      <form action="resume" method="POST" id='form1' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="border-0" style="width: 100%; height: auto">
          <div class="card-body">
            <h3 class="card-title text-center">
              <span class="titleresume" role="textbox" contenteditable data-placeholder="Untitled">Untitled</span>
            </h3>
            <h6 class="card-subtitle mb-4 text-center text-muted">
              Enter your resume details.
            </h6>
            <div class="card mb-3 infobox" id="infobox">
              <div class="card-body text-center">
                <i class="bi bi-exclamation-circle-fill"></i>
                <p>
                  We found some errors.
                  Please review the form
                  and make
                  corrections.
                </p>
              </div>
            </div>
            <div class="progress_bar sticky-top">
              <div class="progress__label mb-2">
                <span class="progress__percent">0%</span>
                Profile completeness
                <span class="float-end progress__add">
                  10+ <span class="progress__addlabel">Add Personal Details</span>
                </span>
              </div>
              <div class="progress mb-3">
                <div class="progress__fill" id="progFill">
                </div>
              </div>
            </div>
            <div class="page active">
              <!-- <form class="needs-validation" method="POST" action="{%url 'resume'%}" novalidate> -->
              {{form1.non_field_errors}}
              <h4>Personal Details</h4>
              <div class="row mb-3">
                <div id="profile">
                  <div class="dashes">
                  </div>
                  <label>1x1 Picture Click me</label>
                </div>
                {{form1.profile_image}}
                <!-- <input type="file" id="mediaFile" /> -->
                <div class="col">
                  <label class="form-label">Wanted Job Title</label>
                  {{form1.jobTitle}}
                  <!-- <input type="text" class="form-control" id="jobTitle" required /> -->
                  <div class="invalid-feedback">
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <label class="form-label">First name</label>
                  {{form1.fname}}
                  <!-- <input type="text" class="form-control" id="fname" name='fname' required /> -->
                  <div class="invalid-feedback">
                  </div>
                </div>
                <div class="col">
                  <label class="form-label">Last name</label>
                  {{form1.lname}}
                  <!-- <input type="text" class="form-control" id="lname" required /> -->
                  <div class="invalid-feedback">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label class="form-label">Email</label>
                  {{form1.email}}

                  <!-- <input type="email" class="form-control" id="email" required /> -->
                  <div class="invalid-feedback">
                    This value is not a valid email address
                  </div>
                </div>
                <div class="col">
                  <label class="form-label">Phone</label>
                  {{form1.phone}}
                  <!-- <input type="text" class="form-control" id="phone" required /> -->
                  <div class="invalid-feedback">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label class="form-label">Country</label>
                  {{form1.country}}
                  <!-- <input type="text" class="form-control" id="country" required /> -->
                  <div class="invalid-feedback">
                  </div>
                </div>
                <div class="col">
                  <label class="form-label">City</label>
                  {{form1.city}}
                  <!-- <input type="text" class="form-control" id="city" required /> -->
                  <div class="invalid-feedback">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label class="form-label">Address</label>
                  {{form1.address}}
                  <!-- <input type="text" class="form-control" id="address" required /> -->
                  <div class="invalid-feedback">
                  </div>
                </div>
                <div class="col">
                  <label class="form-label">Postal Code</label>
                  {{form1.postalcode}}
                  <!-- <input type="text" class="form-control" id="postal" required /> -->
                  <div class="invalid-feedback">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label class="form-label">Place of Birth</label>
                  {{form1.birthplace}}
                  <!-- <input type="text" class="form-control" id="pdate" required /> -->
                  <div class="invalid-feedback">
                  </div>
                </div>
                <div class="col">
                  <label class="form-label">Date Of Birth</label>
                  {{form1.birthdate}}
                  <!-- <input type="text" class="form-control" id="bdate" required /> -->
                  <div class="invalid-feedback">
                  </div>
                </div>

                <div class="col">
                  <label class="form-label">Nationality (Optional)</label>
                  {{form1.nationality}}
                  <!-- <input type="text" class="form-control" id="national" /> -->
                  <div class="invalid-feedback">
                  </div>
                </div>
              </div>
              <!-- </form> -->
              <div class="mt-5">
                <!-- <form class="needs-validation" id='form2' method="POST" action="{%url 'resume'%}" novalidate> -->
                <h4>Professional Summary</h4>
                <div class="row mb-5">
                  <div class="col">
                    <label class="form-check-label" style="font-size:14px">Description</label>
                    {{form1.profSummary}}
                    <!-- <textarea class="form-control" id="summaryEditor" style="height: 100px"></textarea> -->
                    <!-- <div id="summaryEditor">
                    </div> -->
                  </div>
                </div>
                <h4 class="mt-5">Employment History</h4>
                <div class="row mb-3">
                  <div class="col d-grid gap-2">
                    <div class="accordion" id="employeeHistoryAccordion">


                      {{formset.management_form}}
                      {%for form in formset%}
                      {{form.non_field_errors}}
                      {{form.id}}
                      <div class="accordion-item jobAccodionItem{{ forloop.counter0 }}">
                        <h2 class="accordion-header" id="jobExpheading{{ forloop.counter0 }}">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#jobExpcollapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="jobExpcollapse{{ forloop.counter0 }}">
                            <span id="AccordionWorkTitleLabel{{ forloop.counter0 }}" style="text-transform: uppercase;">(Not Specified)</span>
                          </button>
                        </h2>
                        <div id="jobExpcollapse{{ forloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="jobExpheading{{ forloop.counter0 }}" data-bs-parent="#employeeHistoryAccordion">
                          <div class="accordion-body">
                            <div class="row mb-2">
                              <div class="col">
                                <label class="form-label ">Job title</label>
                                {{form.JobTitle}}
                                <!-- <input type="text" class="form-control jobTitle"> -->
                                <div class="invalid-feedback">
                                </div>
                              </div>
                              <div class="col">

                                <div class="float-end">
                                  {{form.DELETE}}
                                  <label class="bi bi-trash-fill"></label>
                                </div>
                                <label class="form-label ">Employer</label>
                                {{form.employer}}
                                <!-- <input type="text" class="form-control employerName"> -->
                                <div class="invalid-feedback">
                                </div>
                              </div>
                            </div>
                            <div class="row mb-4">
                              <div class="col-3">
                                <label class="form-label ">Start Date (Optional)</label>
                                {{form.start_date}}
                                <!-- <input type="text" class="form-control startDate"> -->
                                <div class="invalid-feedback">
                                </div>
                              </div>
                              <div class="col-3">
                                <label class="form-label ">End Date (Optional)</label>
                                {{form.end_date}}
                                <!-- <input type="text" class="form-control endDate"> -->
                                <div class="invalid-feedback">
                                </div>
                              </div>
                              <div class="col-6">
                                <label class="form-label ">City</label>
                                {{form.city}}
                                <!-- <input type="text" class="form-control employerCity"> -->
                                <div class="invalid-feedback">
                                </div>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col">
                                <label class="form-label ">Description</label>
                                {{form.description}}
                                <!-- <textarea name="" class="form-control employeeEditor" id="employeeEditor"></textarea> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      {% endfor %}
                    </div>
                  </div>
                </div>
                <!-- </form> -->
              </div>

              <div class="mt-5">
                <h4>Education</h4>
                <div class="row mb-3">
                  <div class="col d-grid gap-2">
                    <div class="accordion" id="education">

                      {{formset1.management_form}}
                      {%for form in formset1%}
                      {{form.non_field_errors}}
                      {{form.id}}
                      <div class="accordion-item accordionEduc{{ forloop.counter0 }}">
                        <h2 class="accordion-header" id="educationheading{{ forloop.counter0 }}">
                          <button class="accordion-button collapsed AccordionEducTitleLabel" type="button" data-bs-toggle="collapse" data-bs-target="#educationcollapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="educationcollapse{{ forloop.counter0 }}">
                            <span id="AccordionEducTitleLabel{{ forloop.counter0 }}" style="text-transform: uppercase;">(Not Specified)</span>
                          </button>
                        </h2>
                        <div id="educationcollapse{{ forloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="educationheading{{ forloop.counter0 }}" data-bs-parent="#education">
                          <div class="accordion-body">
                            <div class="row mb-2">
                              <div class="col">
                                <label class="form-label ">School</label>
                                {{form.school}}
                                <div class="invalid-feedback">
                                </div>
                              </div>
                              <div class="col">

                                <div class="float-end">
                                  {{form.DELETE}}
                                  <label class="bi bi-trash-fill"></label>
                                </div>
                                <label class="form-label ">Degree</label>
                                {{form.degree}}
                                <div class="invalid-feedback">
                                </div>
                              </div>
                            </div>
                            <div class="row mb-4">
                              <div class="col-3">
                                <label class="form-label ">Start Date</label>
                                {{form.start_date}}
                                <div class="invalid-feedback">
                                </div>
                              </div>
                              <div class="col-3">
                                <label class="form-label ">End Date</label>
                                {{form.end_date}}
                                <div class="invalid-feedback">
                                </div>
                              </div>
                              <div class="col-6">
                                <label class="form-label ">City</label>
                                {{form.city}}
                                <div class="invalid-feedback">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {%endfor%}
                    </div>
                  </div>
                </div>

                <h4 class="mt-5">Website & Social Link</h4>

                <div class="row mb-3">
                  <div class="col d-grid gap-2">
                    <div class="accordion" id="social">

                      {{formset2.management_form}}
                      {%for form in formset2%}
                      {{form.non_field_errors}}
                      {{form.id}}
                      <div class="accordion-item accordionSocial{{ forloop.counter0 }}">
                        <h2 class="accordion-header" id="socialheading{{ forloop.counter0 }}">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#socialcollapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="socialcollapse{{ forloop.counter0 }}">
                            <span id="AccordionSocialTitleLabel{{ forloop.counter0 }}" style="text-transform: uppercase;">(Not Specified)</span>
                          </button>
                        </h2>
                        <div id="socialcollapse{{ forloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="socialheading{{ forloop.counter0 }}" data-bs-parent="#social">
                          <div class="accordion-body">
                            <div class="row mb-2">
                              <div class="col">
                                <div class="float-end">
                                  {{form.DELETE}}
                                  <label class="bi bi-trash-fill"></label>
                                </div>
                                <label class="form-label ">Link</label>
                                {{form.link}}
                                <div class="invalid-feedback">
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      {%endfor%}

                    </div>
                  </div>
                </div>
              </div>

              <div class="mt-5">
                <h4>Skills</h4>
                <div class="row mb-3">
                  <div class="col d-grid gap-2">
                    <div class="accordion" id="skill">

                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">skill</th>
                            <th scope="col">Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{formset4.management_form}}
                          {%for form in formset4%}
                          {{form.non_field_errors}}
                          {{form.id}}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{form.skill}}</td>
                            <td>
                              <div class="form-group">{{form.DELETE}}</div>
                            </td>
                          </tr>

                          {% endfor %}
                          <!-- <div>{{formset4.empty_form}}</div> -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <h4 class="mt-5">References</h4>
                <div class="row mb-3">
                  <div class="col d-grid gap-2">
                    <div class="accordion" id="reference">

                      {{formset3.management_form}}
                      {%for form in formset3%}
                      {{form.non_field_errors}}
                      {{form.id}}
                      <div class="accordion-item accordionReference{{ forloop.counter0 }}">
                        <h2 class="accordion-header" id="referenceheading{{ forloop.counter0 }}">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#referencecollapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="referencecollapse{{ forloop.counter0 }}">
                            <span id="AccordionReferenceTitleLabel{{ forloop.counter0 }}" style="text-transform: uppercase;">(Not Specified)</span>
                          </button>
                        </h2>
                        <div id="referencecollapse{{ forloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="referenceheading{{ forloop.counter0 }}" data-bs-parent="#reference">
                          <div class="accordion-body">
                            <div class="row mb-2">
                              <div class="col">
                                <label class="form-label ">Referent\'s Fullname</label>
                                {{form.name}}
                                <div class="invalid-feedback">
                                </div>
                              </div>
                              <div class="col">

                                <div class="float-end">
                                  {{form.DELETE}}
                                  <label class="bi bi-trash-fill"></label>
                                </div>
                                <label class="form-label ">Company</label>
                                {{form.company}}
                                <div class="invalid-feedback">
                                </div>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col">
                                <label class="form-label ">Phone</label>
                                {{form.phone}}
                                <div class="invalid-feedback">
                                </div>
                              </div>
                              <div class="col">
                                <label class="form-label ">Email</label>
                                {{form.email}}
                                <div class="invalid-feedback">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      {% endfor %}
                    </div>
                  </div>
                </div>
                <button class="btn btn-outline-secondary text-center float-end next" type="button">
                  Next
                </button>
              </div>
            </div>

            <div class="page">
              <h4>Sample Article</h4>
              {{formfile.non_field_errors}}

              <div class="mb-3">
                <label for="formFile" class="form-label">HeadLine</label>
                {{formfile.headline}}
                <!-- <input class="form-control" type="text"> -->
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Please Upload 1 Sample Article</label>
                {{formfile.article}}
                <!-- <input class="form-control" type="file" id="formFile"> -->
              </div>

              <div class="row">
                <div class="col-6">
                  <button class="btn btn-outline-secondary text-center back" type="button">
                    Back
                  </button>
                </div>
                <div class="col-6">
                  <button class="btn btn-outline-secondary text-center float-end" type="button" id="save">
                    Continue
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="preview">
    <page size="A4-Preview" id="A4">
      <div class="page-container">
        <div class="row">
          <div class="col-4">
            <div class="text-center">

              <img class="profile rounded mx-auto d-block" id="profilePic" src="{{request.user.personaldetails.profile_image.url}}">
              <p class="title"><span id='fullname' style="font-size: 16px;"></span> <br>
                <span class="subContent" id="jobWant"></span>
                <hr>
              </p>
            </div>
            <p class="title profileDiv">Profile <br>
              <span class="subContent" id="profileDesc">
              </span>
              <hr class="profileDiv">
            </p>

            <p class="title skillDiv">Skill<br>
              <span class="subContent" id="skillContent">
                <span id="preSkillName0"></span>
                <span id="preSkillName1"></span>
                <span id="preSkillName2"></span>
                <span id="preSkillName3"></span>
                <span id="preSkillName4"></span>
                <span id="preSkillName5"></span>
                <span id="preSkillName6"></span>
                <span id="preSkillName7"></span>
                <span id="preSkillName8"></span>
                <span id="preSkillName9"></span>
              </span>
            </p>
            <hr class="skillDiv">
            <p class="title socialDiv">Links <br>
            <div id="preSocialLink">
              <p class="subContent preSocialSub0">
                <span id="preLink0"></span>
              </p>
              <p class="subContent preSocialSub1">
                <span id="preLink1"></span>
              </p>
              <p class="subContent preSocialSub2">
                <span id="preLink2"></span>
              </p>
            </div>
            <hr class="socialDiv">
            </p>
          </div>
          <div class="col-7">

            <h5 class="title">Personal Info</h5>
            <span class="subContent">
              <i class="bi bi-mailbox2 mailboxDiv"></i>
              <span id="preAddress"></span>
              <span id="preCityPC"></span>
              <span id="preCountry"></span><br>
              <i class="bi bi-envelope-fill envelopeDiv"></i>
              <span id="preEmail"></span>
              <div class="float-end">
                <i class="bi bi-phone-fill phoneDiv"></i>
                <span id="preNumber"></span><br>
              </div>
              <div class="row">
                <div class="col">

                  <div id="dateDivider">
                    <span id="preLabelBirth">Place of birth / Date </span> <br>
                    <span id="preBirthday"></span><br>
                  </div>
                </div>
                <div class="col">

                  <div id="nationalDivider">
                    <span id="preLabelNationality">Nationality</span> <br>
                    <span id="preNationality"></span><br>
                  </div>
                </div>
              </div>
            </span>
            <hr>

            <h5 class="title experienceDiv">Experience</h5>

            <div id="preWorkExperience">

              <p class="subtitle preWorkSub0">
                <span id="preWorkTitle0"></span>,
                <span id="preEmployer0"></span>,
                <span id="preWorkCity0"></span><br>
                <span class="subContent">
                  <span id="preWorkstartDate0"></span> -
                  <span id="preWorkendDate0"></span> <br>
                  &emsp;-&emsp;<span id="preWorkDesc0"></span>
                </span>
              </p>

              <p class="subtitle preWorkSub1">
                <span id="preWorkTitle1"></span>,
                <span id="preEmployer1"></span>,
                <span id="preWorkCity1"></span><br>
                <span class="subContent">
                  <span id="preWorkstartDate1"></span> -
                  <span id="preWorkendDate1"></span> <br>
                  &emsp;-&emsp;<span id="preWorkDesc1"></span>
                </span>
              </p>

              <p class="subtitle preWorkSub2">
                <span id="preWorkTitle2"></span>,
                <span id="preEmployer2"></span>,
                <span id="preWorkCity2"></span><br>
                <span class="subContent">
                  <span id="preWorkstartDate2"></span> -
                  <span id="preWorkendDate2"></span> <br>
                  &emsp;-&emsp;<span id="preWorkDesc2"></span>
                </span>
              </p>
            </div>
            <hr class="experienceDiv">
            <h5 class="title educDiv">Education</h5>
            <div id="preEducation">
              <p class="subtitle preEducSub0">
                <span id="preEducTitle0"></span>,
                <span id="preEducCity0"></span><br>
                <span class="subContent">
                  <span id="preEducstartDate0"></span> -
                  <span id="preEducendDate0"></span> <br>
                  &emsp;-&emsp;<span id="preEducDegree0"></span>
                </span>
              </p>
              <p class="subtitle preEducSub1">
                <span id="preEducTitle1"></span>,
                <span id="preEducCity1"></span><br>
                <span class="subContent">
                  <span id="preEducstartDate1"></span> -
                  <span id="preEducendDate1"></span> <br>
                  &emsp;-&emsp;<span id="preEducDegree1"></span>
                </span>
              </p>

              <p class="subtitle preEducSub2">
                <span id="preEducTitle2"></span>,
                <span id="preEducCity2"></span><br>
                <span class="subContent">
                  <span id="preEducstartDate2"></span> -
                  <span id="preEducendDate2"></span> <br>
                  &emsp;-&emsp;<span id="preEducDegree2"></span>
                </span>
              </p>
            </div>
            <hr class="educDiv">
            <h5 class="title refDiv">Reference</h5>
            <div id="preReference">
              <p class="subtitle preRefSub0">
                <span id="preRefName0"></span>,
                <span id="preRefCompany0"></span><br>
                <span class="subContent">
                  <span id="preRefEmail0"></span> -
                  <span id="preRefPhone0"></span> <br>
                </span>
              </p>
              <p class="subtitle preRefSub1">
                <span id="preRefName1"></span>,
                <span id="preRefCompany1"></span><br>
                <span class="subContent">
                  <span id="preRefEmail1"></span> -
                  <span id="preRefPhone1"></span> <br>
                </span>
              </p>
              <p class="subtitle preRefSub2">
                <span id="preRefName2"></span>,
                <span id="preRefCompany2"></span><br>
                <span class="subContent">
                  <span id="preRefEmail2"></span> -
                  <span id="preRefPhone2"></span> <br>
                </span>
              </p>
            </div>
            <hr class="refDiv">
          </div>
        </div>
      </div>
    </page>
  </div>
</div>

<main id="main" class="resumeMain">
  <div class="buttonsResumeMain" id="return">
    <p><i class="bi bi-back"></i> Any changes?</p>
  </div>
  <div id="download-Container" class="shadow">
    <a class="download-A" href="#">
      <div class="button-download">
        <div class="download"><i class="bi bi-cloud-download-fill"></i></div>
      </div>
      <div id="resumeContainer" class="shadow">
      </div>
    </a>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div class="modal-body  text-center">


              <p class="h2"><i class="bi bi-check-circle-fill" style="font-size: 100px;"></i> <br> Well done,</p>
              <p class="">Your Requirements has been sent successfully! <br>
                You may see the status in your profile!
              </p>
              <button type="button" class="btn text-center mb-5 mt-2" onclick="submitForms()" style="width: auto;">Submit Application</button>
              <!-- data-bs-dismiss="modal" -->
              <div class="custom-shape-divider-bottom-1630055058">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                  <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                  <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                  <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

<!-- Template Main JS File -->
{% block scriptContent %}
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/vendor/jqUI/jquery-ui.min.js' %}"></script>
<!-- <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script> -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/multistepform.js' %}"></script>
<script src="{% static 'assets/js/progressBar.js' %}"></script>


<script>
  $(document).ready(function () {
    $("#infobox").hide();
    $("#main").hide();
    // $("#example2").hide();
    $("#save").click(function () {
      $("#main").show();
      var A4 = $('#A4').clone();
      $(A4).removeAttr("A4-Preview");
      $(A4).attr('size', 'A4');
      $(A4).attr('id', 'test');
      $(".split-screen").hide();
      $('#resumeContainer').html(A4);

    });
    $(".download-A").hover(
      function (e) {
        e.stopPropagation();
        $(".download").show(100);
      }, function (e) {
        e.stopPropagation();
        $(".download").hide(100);
      }
    );
    $('.download-A').click(function () {

      window.html2canvas = html2canvas;
      window.jsPDF = window.jspdf.jsPDF;
      var element = document.querySelector("[size=A4]");
      var doc = new jsPDF('p', 'cm', [21.59, 27.94]);
      html2canvas(element, {
        letterRendering: 1,
        allowTaint: true,
        useCORS: true,
        scale: 1
      }).then(canvas => {
        var img = canvas.toDataURL("image/png");
        doc.addImage(img, 'png', 0, 0);
        doc.save($(".titleresume").text() + ".pdf");
      });

      submitForms = function () {
        document.getElementById("form1").submit();
        // document.getElementById("form2").submit();
      }
      var myModal = new bootstrap.Modal(document.getElementById("exampleModal"), {});
      myModal.show();
    });


    var max = 50;
    $(".titleresume").keydown(function (e) {
      if ($(".titleresume").text().length === max && e.keyCode != 8) {
        e.preventDefault();
      }
    });
    $(".titleresume").focusout(function () {
      if ($(".titleresume").text() == "") {
        $(".titleresume").html("Untitled");

      }
    });

  });
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
            var temp = false;
            for (var i = 0; i < form.length; i++) {
              if (
                $(form[i]).hasClass("form-control") &&
                $(form[i]).val().length === 0
              ) {
                temp = true;
              }
            }
            if (temp) {
              $("#infobox p").html(
                "We found some errors. Please review the form and make corrections."
              );
            } else {
              $("#infobox p").html(
                "You need to accept our Terms of Service and Privacy Policy to create a Typeform account. See options to change your preferences"
              );
            }
            $("#infobox").show();
          } else if ($("#pass") != $("#passconf")) {
            event.preventDefault();
            event.stopPropagation();
            $("#infobox p").html(
              "We found some errors. Please review the form and make corrections."
            );
            $("#conflabel").html(
              "The value is not the same as the password."
            );
            $("#conflabel").show();
            $("#infobox").show();
          }
          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
{% endblock %}