{% extends 'main/Client/include/base.html' %} {% load static%}

{% block content %}

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center justify-content-end text-dark position-fixed col-12" style="background-color: rgb(201, 76, 76,0) ">
    <span class="spanacc me-2"> Don't have an account yet? </span>
    <a href="{% url 'signup'%}" class="btn btn-outline-dark btn-sm text-start button me-2" type="button " id="button-addon1 ">Sign up</a>
    <!-- <span class="spanacc me-2"> Need Help? </span> -->
</section>
<div class="d-flex align-items-center justify-content-center vertical-center ">

    <ul class='circles position-fixed'>
        <li></li>
        <li></li>
        <li><i class="bi bi-octagon-fill"></i></li>
        <li></li>
        <li></li>
        <li><i class="bi bi-plus"></i></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="card border-0 " style="width: 18rem; background-color:rgba(231, 76, 60, 0); ">
        <div class="card-body ">
            <h3 class="card-title text-center ">WriTeam</h3>
            <h6 class="card-subtitle mb-2 text-center text-muted ">Hello, who's this?</h6>
            <div class="card mb-3 infobox" id="infobox">
                <div class="card-body text-center ">
                    <i class="bi bi-exclamation-circle-fill"></i>
                    <p>We found some errors. Please review the form and make corrections.</p>
                </div>
            </div>
            <form class="needs-validation" method="POST" novalidate>
                {% csrf_token %}
                {{form.nom_field_errors}}
                <div class="mb-3 ">
                    <label class="form-label ">Email</label>
                    {{ form.email }}
                    <!-- <input type="text" class="form-control" name="username" required> -->
                    <div class="invalid-feedback">
                        This value is not a valid email address
                    </div>
                </div>
                <div class="mb-3 ">
                    <label for="exampleInputPassword1 " class="form-label ">Password</label>
                    {{ form.password }}
                    <!-- <input type="password" class="form-control " id="exampleInputPassword1" name="password" required> -->
                    <div class="invalid-feedback">
                        This value is not a valid password
                    </div>
                </div>
                <button type="submit " class="btn btn-dark col-12 ">Log in to HumanAlytics</button>
                <div class="separator mb-3 mt-3 "> OR </div>
            </form>
            <a class="btn btn-outline-secondary col-12 text-start " type="button" id="button-addon1 " href='{%url "activate_email_page"%}'>
                <i class="bi bi-envelope-fill"></i>
                <span class="ms-3 "> Resend Email Verification</span>
            </a>

            <a class="btn btn-outline-secondary col-12 text-center mt-3" type="button" href='{%url "password_reset"%}' id="button-addon1 ">
                <span class="ms-3 "> Reset Password</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptContent %}
<script>
    $(document).ready(function () {
        $("#infobox").hide();

        var errors = '{{errors}}';
        if (errors != '') {
            // var errormsg = "{% for field, error in form.errors.items %}\
            //                 {{ error | striptags }}\
            //                 {% endfor %}"
            $("#infobox p").html(errors);
            $("#infobox").show();
        } else {

        }

    });
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                        $("#infobox").show();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}