{% extends 'main/Client/include/base.html' %}
{% block navigationBase %}
{% include 'main/Client/include/navigationBase.html' %}
{% endblock %}

{% load static%}
{% block content%}


<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container glass shadow">
        <div class="row h-100">
            <div class="col-4 column1">
                <div class="dashboard mt-5">
                    <div class="prof text-center ">
                        <img src="{{request.user.profile_image.url}}" class="rounded" alt="" />
                        <h3 class="fw-bolder mt-3">{{request.user.first_name}} {{request.user.last_name}}</h3>
                        {% if group|stringformat:'s' == 'Clients' %}
                        <p class="fw-bold mt-2">Content Writer</p>
                        {% else %}
                        <p class="fw-bold mt-2">{{group}}</p>
                        {% endif %}
                    </div>
                    <div class="progressApplicant mt-5">
                        <h5 class="fw-bolder mt-3">Progress:</h5>
                        <p>Admins are reviewing your application.</p>
                    </div>
                    <div class="remarks mt-5">
                        <h5 class="fw-bolder mt-3">Remarks:</h5>
                        <p>Please wait to be notified.</p>
                    </div>
                </div>
            </div>
            <div class="col-8 column2">
                <div class="userInfo">
                    <div class="page-modal active">
                        <div class="info mt-3 mb-5">
                            <h3 class="fw-bold">INFORMATION <button class="editButton"><i class="bi bi-pencil-square"></i></button></h3>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <h4>Email</h4>
                                    <p>{{request.user.email}}</p>
                                    {%if request.user.personaldetails.birthdate|length > 0 %}
                                    <h4>Birthday</h4>
                                    <p>{{request.user.personaldetails.birthdate}}</p>
                                    {% endif %}
                                    <h4>Date Joined</h4>
                                    <p>{{request.user.date_joined}}</p>
                                </div>

                                <div class="col">
                                    {%if request.user.personaldetails.phone|length > 0 %}

                                    <h4>Phone</h4>
                                    <p>{{request.user.personaldetails.phone}}</p>
                                    {% endif %}
                                    {%if request.user.personaldetails.address|length > 0 %}

                                    <h4>Address</h4>
                                    <p>{{request.user.personaldetails.address}}</p>
                                    {% endif %}

                                    <h4>Applicant No.</h4>
                                    <p>{{request.user.id}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="proj mt-5">
                            <h3 class="fw-bold">FILES</h3>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    <h4>Article</h4>
                                    <a class="view" href="{{request.user.article.article.url}}" style="color:white;">Download</a>
                                </div>
                                <div class="col">
                                    <h4>Resume</h4>
                                    <a class="view" href="{% url 'resume'%}" style="color:white;">Update</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="" class="page-modal">
                        <div class="row ">

                            <div class="col">
                                <h4>Email</h4>
                                <div class="mb-3">
                                    <input type="email" class="form-control" id="email">
                                </div>

                                <h4>Birthday</h4>
                                <div class="mb-3">
                                    <input type="date" class="form-control" id="date">
                                </div>

                                <h4>Password</h4>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="password">
                                </div>
                            </div>

                            <div class="col">
                                <h4>Phone</h4>

                                <div class="mb-3">
                                    <input type="text" class="form-control" id="phone">
                                </div>

                                <h4>Address</h4>

                                <div class="mb-3">
                                    <input type="text" class="form-control" id="address">
                                </div>

                                <h4>Confirm Password</h4>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="confpassword">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->

{% endblock %}

{% block footerContent %}
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright
            <strong><span>HumanAnalytics</span></strong>
            . All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
            Designed by
            <a href="https://bootstrapmade.com/">SamSanTech</a>
        </div>
    </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>
<div id="preloader"></div>
{% endblock %}