{% extends 'main/Admin/include/base.html' %}

{% load static%}
{% block content%}
<section class="home-section">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Applicants Status</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Welcome Recruiters!</li>
        </ol>
        <div class="row draggable-row-container">
            <div class="col">
                <div class="card">
                    <div class="card-body drag-body screening">
                        <div class="card-title text-start text-uppercase fw-bold">Screening<span class="float-end count" id="span1">0/10</span></div>
                        <hr>
                        {% for user in randomApplicants%}
                        {% if user.onboardingapplicant.jobTitle == '' and user.article.article.url != None %}
                        <p class="draggable" draggable="true" data-url="{% url 'applicantmanagement' user.id %}">
                            <img class="img-circle" src="{{user.personaldetails.profile_image.url}}" alt="profileImg" />
                            {{user}}
                            <a type="button" class="btn btn-dark float-end addScore" href="{%url 'applicantmanagement' user.id %}" style="display:none;">Add Score</a>
                            <a type="button" class="btn btn-dark float-end viewScore" href="{%url 'applicantmanagement' user.id %}" style="display:none;">View Score</a>
                        </p>
                        {% endif%}
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body drag-body onboarding">
                        <div class="card-title text-start text-uppercase fw-bold">Onboarding<span class="float-end count" id="span2">0/10</span></div>
                        <hr>

                        {% for user in randomApplicants%}
                        {% if user.onboardingapplicant.jobTitle != '' and user.onboardingapplicant.score >= 80 %}

                        <p class="draggable" draggable="true" data-url="{% url 'applicantmanagement' user.id %}">
                            <img class="img-circle" src="{{user.personaldetails.profile_image.url}}" alt="profileImg" />
                            {{user}} {{user.onboardingapplicant.score}}/100
                            <a type="button" class="btn btn-dark float-end addScore" href="{%url 'applicantmanagement' user.id %}" style="display:none;">Add Score</a>
                            <a type="button" class="btn btn-dark float-end viewScore" href="{%url 'applicantmanagement' user.id %}" style="display:none;">View Score</a>
                        </p>


                        {% endif%}
                        {%endfor%}
                    </div>
                    <a href="#" class="btn btn-dark float-end">Submit All</a>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body drag-body repreview">
                        <div class="card-title text-start text-uppercase fw-bold">Rejected Applicants<span class="float-end count" id="span3">1/10</span></div>
                        <hr>

                        {% for user in randomApplicants%}
                        {% if user.onboardingapplicant.jobTitle != '' and user.onboardingapplicant.score <= 79 %} <!-- Failing applicant -->
                            <p class="draggable" draggable="true" data-url="{% url 'applicantmanagement' user.id %}">
                                <img class="img-circle" src="{{user.personaldetails.profile_image.url}}" alt="profileImg" />
                                {{user}} {{user.onboardingapplicant.score}}/100
                                <a type="button" class="btn btn-dark float-end addScore" href="{%url 'applicantmanagement' user.id %}" style="display:none;">Add Score</a>
                                <a type="button" class="btn btn-dark float-end viewScore" href="{%url 'applicantmanagement' user.id %}" style="display:none;">View Score</a>
                            </p>

                            {% endif%}
                            {%endfor%}
                    </div>
                    <a href="#" class="btn btn-dark float-end">Submit All</a>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="card mb-4 table-card">
                <div class="card-body">

                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Avatar</th>
                                <th>Name</th>
                                <th>Date Joined</th>
                                <th>Last Login</th>
                                <!-- <th>Score</th> -->
                                <th>Article</th>
                                <th>Resume</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Avatar</th>
                                <th>Name</th>
                                <th>Date Joined</th>
                                <th>Last Login</th>
                                <!-- <th>Score</th> -->
                                <th>Article</th>
                                <th>Resume</th>
                            </tr>
                        </tfoot>
                        <tbody>


                            {% for user in applicantList%}
                            {% for group in user.groups.all %}
                            {% if group|stringformat:'s' != 'HR Manager' and group|stringformat:'s' != 'HR Staff'%}

                            <tr>
                                <td>{{ user.id }}</td>
                                <td><img class="img-circle" src="{{user.personaldetails.profile_image.url}}" draggable="false" /></td>
                                <td>{{user.first_name}} {{user.last_name}}</td>
                                <td>{{ user.date_joined }}</td>
                                <td>{{ user.last_login }}</td>
                                <!-- <td><a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add</a></td> -->
                                {%if user.article.article.url != None %}
                                <td><a type="button" class="btn btn-primary" href="{{user.article.article.url}}">View</a></td>
                                {%else%}
                                <td><a type="button" class="btn btn-secondary" href="#">None</a></td>
                                {% endif %}
                                {%if user.personaldetails.fname != None %}
                                <td><a type="button" class="btn btn-primary" href="{% url 'resumePrev' user.id %}">View</a></td>
                                {%else%}
                                <td><a type="button" class="btn btn-secondary" href="#">None</a></td>
                                {% endif %}
                                <!-- <td><button type=" button" class="btn btn-primary">View</button></td> -->
                            </tr>

                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>
{% if instance%}
<!-- Modal -->
<div class="modal fade score" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" method="post">
                {% csrf_token %}
                {{modalform.non_field_errors}}

                {{modalform.accounts}}
                {{modalform.status}}
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel"><img src="{% static 'assets/img/logos.png' %}" alt="" srcset="" width="50px" height="50px"> Applicant Score & Remarks</h5>
                    <a type="button" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-diamond"></i></a>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="mb-3 profile">
                            <img class="img-circle" src="{{instance.personaldetails.profile_image.url}}" />
                            {{instance.personaldetails.fname}}
                            {{instance.personaldetails.lname}}
                            <a href="{{instance.article.article.url}}"><i class="bi bi-bookmark-star-fill"></i></a>
                            <a href="{% url 'resumePrev' instance.id %}"><i class="bi bi-file-earmark-person-fill"></i></a>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="score" class="form-label">Job Title</label>

                                {{modalform.jobTitle}}
                            </div>
                            <div class="col">
                                <label for="score" class="form-label">Score</label>
                                {{modalform.score}}
                                <div id="emailHelp" class="form-text">80% Is the passing point</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            {{modalform.remarks}}
                            <label for="floatingTextarea">Remarks:</label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary save">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endif %}

{% endblock %}
{% block scriptContent%}
<script>
    $(document).ready(function () {
        var modaledit = '{{instance}}'
        if (modaledit) {
            console.log(modaledit)
            $('#exampleModal').modal('show');
        }
    });
</script>
{% endblock%}