{% extends 'main/Admin/include/base.html' %}

{% load static%}
{% block content%}
<section class="home-section">
    {% include 'main/Admin/include/topnavbar.html' %}
    <div class="container-fluid px-4">

        <div class="card mb-3" style="background-color:transparent; border:none">
            <div class="card-body text-center">
                <h1 class="fw-bold">Applicant Management</h1>
                <p class="fs-4">
                    Welcome Recruiters!
                </p>
            </div>
        </div>


        {% include 'main/Admin/include/drag&drop.html' %}
        <div class="p-2">
            {% include 'main/Admin/include/applicantTable.html' %}
        </div>
    </div>
</section>
{% if instance%}
<!-- Modal -->
<div class="modal fade score" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" method="post">
                {% csrf_token %}
                {{modalform.non_field_errors}}

                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel"><img src="{% static 'assets/img/logos.png' %}" alt="" srcset="" width="50px" height="50px"> Applicant Score & Remarks</h5>
                    <a type="button" href="{% url 'applicantmanagement'%}"><i class="bi bi-x-diamond text-white"></i></a>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="mb-3 profile">
                            <img class="img-circle" src="{{instance.personaldetails.profile_image.url}}" />
                            {{instance.personaldetails.fname}}
                            {{instance.personaldetails.lname}}
                            <a href="{{instance.article.article.url}}"><i class="bi bi-bookmark-star-fill"></i></a>
                            <a href="{% url 'resumePrev' instance.id %}"><i class="bi bi-file-earmark-person-fill"></i></a>
                        </div>
                        <div class="text-center fw-bold">
                            Resume Raw Score
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="score" class="form-label">Copy Writer</label>
                                <input type="number" class="form-control" id='copywriterR' disabled value="{{jobappInstance.copywriter}}">
                            </div>
                            <div class="col">
                                <label for="score" class="form-label">Editor</label>
                                <input type="number" class="form-control" id='editorR' disabled value="{{jobappInstance.editor}}">
                            </div>
                            <div class="col">
                                <label for="score" class="form-label">Translator</label>
                                <input type="number" class="form-control" id='translatorR' disabled value="{{jobappInstance.translator}}">
                            </div>
                        </div>

                        <div class="text-center fw-bold">
                            Overall Final Score
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label for="score" class="form-label mb-0">Article</label>
                                <div class="form-text mt-0 scoreIndicator">Passed</div>

                                {{modalform.article}}
                                <div class="form-text">80% Is the passing score of article</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="score" class="form-label mb-0">Copy Writer </label>
                                <div class="form-text mt-0 scoreIndicator">Passed</div>

                                <input type="number" class="form-control" id='copywriter' disabled value="0">
                            </div>
                            <div class="col">
                                <label for="score" class="form-label mb-0">Editor</label>
                                <div class="form-text mt-0 scoreIndicator">Passed</div>
                                <input type="number" class="form-control" id='editor' disabled value="0">
                            </div>
                            <div class="col">
                                <label for="score" class="form-label mb-0">Translator</label>
                                <div class="form-text mt-0 scoreIndicator">Passed</div>
                                <input type="number" class="form-control" id='translator' disabled value="0">
                            </div>
                        </div>
                        <div id="emailHelp" class="form-text text-center">Best score for hiring a Applicant Is 80%</div>
                        <div class="form-floating">
                            {{modalform.remarks}}
                            <label for="remark">Remarks</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary save">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endif %}

{% endblock %}
{% block scriptContent%}
<script>
    $(document).ready(function () {
        var modaledit = '{{instance}}'
        if (modaledit) {
            console.log(modaledit)
            $('#exampleModal').modal('show');
        }
        score1 = $('#copywriterR').val()
        score2 = $('#editorR').val()
        score3 = $('#translatorR').val()
        score4 = $('#article').val()
        $('.scoreIndicator').hide()

        computeOverScore();
        $("#article").keydown(function () {
            computeOverScore();
        });
        $("#article").keyup(function () {
            computeOverScore();
        });

        function computeOverScore() {
            var articlescore = parseInt($("#article").val());

            $("#article").siblings('.scoreIndicator').show()
            if (articlescore > 80) {
                console.log("hays")
                $("#article").siblings('.scoreIndicator').css('color', 'green')
                $("#article").siblings('.scoreIndicator').html('Passed')
            } else {
                console.log("hays2")

                $("#article").siblings('.scoreIndicator').css('color', 'red')
                $("#article").siblings('.scoreIndicator').html('Failed')
            }

            test = articlescore / 10 * 3
            fscore1 = parseInt(score1) + test
            fscore2 = parseInt(score2) + test
            fscore3 = parseInt(score3) + test
            $("#copywriter").val(fscore1);
            $("#editor").val(fscore2);
            $("#translator").val(fscore3);
            $("#copywriter").siblings('.scoreIndicator').show()
            $("#editor").siblings('.scoreIndicator').show()
            $("#translator").siblings('.scoreIndicator').show()
            if (fscore1 > 80) {
                $("#copywriter").siblings('.scoreIndicator').css('color', 'green')
                $("#copywriter").siblings('.scoreIndicator').html('Passed')
            } else {
                $("#copywriter").siblings('.scoreIndicator').css('color', 'red')
                $("#copywriter").siblings('.scoreIndicator').html('Failed')
            }
            if (fscore2 > 80) {
                $("#editor").siblings('.scoreIndicator').css('color', 'green')
                $("#editor").siblings('.scoreIndicator').html('Passed')
            } else {
                $("#editor").siblings('.scoreIndicator').css('color', 'red')
                $("#editor").siblings('.scoreIndicator').html('Failed')
            }
            if (fscore3 > 80) {
                $("#translator").siblings('.scoreIndicator').css('color', 'green')
                $("#translator").siblings('.scoreIndicator').html('Passed')
            } else {
                $("#translator").siblings('.scoreIndicator').css('color', 'red')
                $("#translator").siblings('.scoreIndicator').html('Failed')
            }
        }
    });
</script>
{% endblock%}