{% extends 'main/Admin/include/base.html' %}

{% load static%}
{% block content%}
<section class="home-section">
    {% include 'main/Admin/include/topnavbar.html' %}
    <div class="container-fluid px-4">

        <div class="card mb-3" style="background-color:transparent; border:none">
            <div class="card-body text-center">
                <h1 class="fw-bold">Applicant Management</h1>
                <p class="fs-4">
                    Welcome Recruiters!
                </p>
            </div>
        </div>


        {% include 'main/Admin/include/drag&drop.html' %}
        <hr class="mt-5">
        <div class="p-2">
            {% include 'main/Admin/include/applicantTable.html' %}
        </div>
    </div>
</section>
{% if instance%}
<!-- Modal -->
<div class="modal fade score" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" method="post">
                {% csrf_token %}
                {{modalform.non_field_errors}}

                {{modalform.accounts}}
                {{modalform.is_copywriter}}
                {{modalform.is_editor}}
                {{modalform.is_translator}}
                {{modalform.submitApplication}}
                {{modalform.is_validated}}
                {{modalform.jobAccepted}}
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel"><img src="{% static 'assets/img/logos.png' %}" alt="" srcset="" width="50px" height="50px"> Applicant Score & Remarks</h5>
                    <a type="button" href="{% url 'applicantmanagement'%}"><i class="bi bi-x-diamond text-white"></i></a>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="mb-3 profile">
                            <img class="img-circle" src="{{instance.personaldetails.profile_image.url}}" />
                            {{instance.personaldetails.fname}}
                            {{instance.personaldetails.lname}}
                            <a href="{{instance.article.article.url}}"><i class="bi bi-bookmark-star-fill"></i></a>
                            <a href="{% url 'resumePrev' instance.id %}"><i class="bi bi-file-earmark-person-fill"></i></a>
                        </div>
                        <div class="text-center fw-bold">
                            Resume Raw Score
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="score" class="form-label">Copy Writer</label>
                                {{modalform.copywriter}}

                                <input type="number" class="form-control" id='copywriterR' disabled value="{{jobappInstance.copywriter}}">
                            </div>
                            <div class="col">
                                <label for="score" class="form-label">Editor</label>
                                <input type="number" class="form-control" id='editorR' disabled value="{{jobappInstance.editor}}">
                                {{modalform.editor}}
                            </div>
                            <div class="col">
                                <label for="score" class="form-label">Translator</label>
                                <input type="number" class="form-control" id='translatorR' disabled value="{{jobappInstance.translator}}">
                                {{modalform.translator}}
                            </div>
                        </div>
                        <div id="emailHelp" class="form-text text-center">Best score for hiring a Applicant Is 80%</div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="score" class="form-label">Article</label>
                                {{modalform.article}}
                                <div id="emailHelp" class="form-text">80% Is the passing score of article</div>
                            </div>
                        </div>

                        <div class="text-center fw-bold">
                            Overall Final Score
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="score" class="form-label">Copy Writer</label>
                                {{modalform.copywriterfinal}}

                                <input type="number" class="form-control" id='copywriter' disabled value="0">
                            </div>
                            <div class="col">
                                <label for="score" class="form-label">Editor</label>
                                <input type="number" class="form-control" id='editor' disabled value="0">
                                {{modalform.editorfinal}}
                            </div>
                            <div class="col">
                                <label for="score" class="form-label">Translator</label>
                                <input type="number" class="form-control" id='translator' disabled value="0">
                                {{modalform.translatorfinal}}
                            </div>
                        </div>
                        <div class="form-floating">
                            {{modalform.remarks}}
                            <label for="remark">Remarks</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary save">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endif %}

{% endblock %}
{% block scriptContent%}
<script>
    $(document).ready(function () {
        var modaledit = '{{instance}}'
        if (modaledit) {
            console.log(modaledit)
            $('#exampleModal').modal('show');
        }
        score1 = $('#copywriterR').val()
        score2 = $('#editorR').val()
        score3 = $('#translatorR').val()
        score4 = $('#article').val()

        $("#article").change(function () {
            var articlescore = parseInt($("#article").val());
            test = articlescore / 10 * 3
            $("#copywriter").val(parseInt(score1) + test);
            $("#editor").val(parseInt(score2) + test);
            $("#translator").val(parseInt(score3) + test);

        });
    });
</script>
{% endblock%}