{% extends 'main/Admin/include/base.html' %}

{% load static%}
{% block content%}
<section class="home-section">
    <div class="container-fluid px-4">
        <h1 class="mt-4">To Do List</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Welcome Recruiters!</li>
        </ol>
        <div class="row">

            <div class="col-12">
                <div class="card mb-4" style="border-style:none;">
                    <div class="card-header">
                        <button type="button" class="btn btn-secondary">Today</button>
                        <button type="button" class="btn btn-secondary"><i class="bi bi-caret-left-fill"></i></button>
                        <span class="m-4" id="date"></span>
                        <button type="button" class="btn btn-secondary"><i class="bi bi-caret-right-fill"></i></button>

                        <button type="button" class="btn btn-secondary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <p class="mt-5"> <i class="bi bi-envelope-open-fill"></i> <span class="m-4" id="day"> Tuesday 8, Jun </span></p>
                        <hr> Due: 1:00am Screening
                        <p class="mt-5"> <i class="bi bi-envelope-open-fill"></i> <span class="m-4" id="day">Tuesday 9, Jun</span></p>
                        <hr> Due: 1:00am Screening
                        <p class="mt-5"> <i class="bi bi-envelope-open-fill"></i> <span class="m-4" id="day">Tuesday 10, Jun</span></p>
                        <hr> Due: 1:00am Screening
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">Screening</option>
                        <option value="2">Interview</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Applicant</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Search">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Date: </span>
                    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Search">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">From: </span>
                    <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Search">
                    <span class="input-group-text" id="inputGroup-sizing-sm">To: </span>
                    <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Search">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    <input type="text" class="form-control" placeholder="HumanAlytics@Analytics.com" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scriptContent %}

<script>
    $(document).ready(function () {


        n = new Date();
        y = n.getFullYear();
        d = n.getDate();

        m = getFullmonth(n.getMonth());

        d2 = dayIncrement(d, n.getMonth(), y);

        $("#date").text(m + " " + d + ", " + y + " - " + m + " " + d2 + ", " + y);
        // dateHeader();

        const spanDay = document.querySelectorAll('#day');




        i = 0;
        for (const spanday of spanDay) {
            spanday.innerHTML = getFullweekdayincrement(n.getDay(), i, n.getDate(), y);
            i++;
        }

        function getFullweekdayincrement(x, i, d, y) {
            x += i;
            weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";
            d += i;
            dateString = weekday[x] + ", " + d + " " + y;
            return dateString;
        }

        function getFullmonth(x) {
            var month = new Array();
            month[0] = "Jan";
            month[1] = "Feb";
            month[2] = "Mar";
            month[3] = "Apr";
            month[4] = "May";
            month[5] = "Jun";
            month[6] = "Jul";
            month[7] = "Aug";
            month[8] = "Sep";
            month[9] = "Oct";
            month[10] = "Nov";
            return month[x];
        }

        function dayIncrement(d, x, y) {
            d2 = d + 5;
            if (x == 0 || x == 2 || x == 4 || x == 6 || x == 7 || x == 9 || x == 11) {
                if (d2 > 31) {
                    d2 = d2 - 31;
                }
            }
            if (x == 1) {
                if ((0 == y % 4) && (0 != y % 100) || (0 == y % 400)) {
                    if (d2 > 29) {
                        d2 = d2 - 29;
                    }
                } else {
                    if (d2 > 28) {
                        d2 = d2 - 28;
                    }
                }
            } else {
                if (d2 > 30) {
                    d2 = d2 - 30;
                }
            }

            return d2
        }
    });
</script>

{% endblock %}