{% extends 'main/Admin/include/base.html' %}

{% load static%}


{% block content%}
<section class="home-section">
  {% include 'main/Admin/include/topnavbar.html' %}
  <div class="container-fluid px-4">
    <div class="card mb-3" style="background-color:transparent; border:none">
      <div class="card-body text-center">
        <h1 class="fw-bold">Dashboard</h1>
        <p class="fs-4">
          Welcome Recruiters!
        </p>
      </div>
    </div>
    <div class="row charts">
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-9">
                <div class="numbers">
                  <p class="mb-0 text-secondary text-capitalize">Today's Submission</p>
                  <h5 class=" mb-0">
                    {{countTodaySubmmission}}
                  </h5>
                </div>
              </div>
              <div class="col-3 text-end">
                <div class="icon icon-shape shadow text-center">
                  <i class="bi bi-file-earmark-person-fill opacity-10"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-9">
                <div class="numbers">
                  <p class="mb-0 text-secondary text-capitalize ">Today's Users</p>
                  <h5 class=" mb-0">
                    {{countTodayUser}}
                  </h5>
                </div>
              </div>
              <div class="col-3 text-end">
                <div class="icon icon-shape shadow text-center">
                  <i class="bi bi-person-circle opacity-10"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-9">
                <div class="numbers">
                  <p class="mb-0 text-secondary text-capitalize ">New Applicants</p>
                  <h5 class=" mb-0">
                    {{countTodayApplicants}}
                  </h5>
                </div>
              </div>
              <div class="col-3 text-end">
                <div class="icon icon-shape shadow text-center">
                  <i class="bi bi-bookmarks-fill opacity-10"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-9">
                <div class="numbers">
                  <p class="mb-0 text-secondary text-capitalize ">Total Applicants</p>
                  <h5 class=" mb-0">
                    {{countAllApplicants}}
                  </h5>
                </div>
              </div>
              <div class="col-3 text-end">
                <div class="icon icon-shape shadow text-center">
                  <i class="bi bi-globe opacity-10"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row mb-4 charts">
      <div class="col-xl-6">
        <div class="card border-0 shadow">
          <div class="printable">
            <div class="card-header text-center fw-bold fs-5">
              Distribution of Applicants Per Department
              <i class="bi bi-file-earmark-image-fill print"></i>
              <i class="bi bi-camera-fill printpic"></i>
            </div>
            <div class="card-body p-3"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
          </div>
        </div>

      </div>
      <div class="col-xl-6">
        <div class="card border-0 shadow">
          <div class="printable">
            <div class="card-header text-center fw-bold fs-5">
              Monthly Job Application Received Count {% now 'Y'%}
              <i class="bi bi-file-earmark-image-fill print"></i>
              <i class="bi bi-camera-fill printpic"></i>
            </div>
            <div class="card-body"><canvas id="Line-chart" width="100%" height="40"></canvas></div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <div class="row">
        <div class="col-8">
          {% include 'main/Admin/include/departmentTable.html' %}
        </div>
        <div class="col-4 p-2">
          <div class="card border-0 shadow" style='height:100%;'>
            <div class="card-body drag-body">
              <div class="card-title text-start text-uppercase fw-bold">Department Manager Request<span class="float-end count" id="span1">1/10</span></div>
              <hr>
              {% for manpower in notifs%}
              {% if not manpower.is_Finished%}

              <div class="row item">
                <div class="col-1">
                  {% if manpower.department == 'Copy Writer'%}
                  <i class="bi bi-pencil-square fs-3 me-3 " style="color: #e74c3c"></i>
                  {% elif manpower.department == 'Editor'%}
                  <i class="bi bi-file-earmark-zip-fill fs-3 me-3 " style="color: #34495e"></i>
                  {% elif manpower.department == 'Translator'%}
                  <i class="bi bi-translate fs-3 me-3 " style="color: #2ecc71"></i>
                  {% endif %}
                </div>
                <div class="col align-self-center">


                  <p class="mb-0 " style="font-weight:600;">{{manpower.department}} Department</p>
                  <p class="mb-0 text-secondary " style="font-size: 12px;">

                    <span style="color: #e74c3c;">{{manpower.name}}</span>

                  </p>
                </div>

                <div class="col align-self-center">

                  <p class="mb-0 " style="font-weight:600;">{{manpower.department}}</p>
                  <p class="mb-0 text-secondary " style="font-size: 12px;">

                    <span style="color: #e74c3c;">{{manpower.currentCandidate}}/{{manpower.nosCandidate}}</span>

                  </p>
                </div>

                <div class="col align-self-center">
                  <a type="button" class="btn viewScore" href="{%url 'applicantmanagement' user.id %}">View</a>
                </div>

              </div>
              {%endif%}
              {%endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'main/Admin/include/staffTable.html' %}
    {% include 'main/Admin/include/applicantTable.html' %}
  </div>
</section>
{% endblock %}
{% block scriptContent%}
<script>
  $(document).ready(function () {

    const containers = document.querySelectorAll('.drag-body')
    containers.forEach((container, index) => {
      const countDraggableInContainer = container.querySelectorAll('.item')

      const getSpanCounter = container.querySelector('.count');

      getSpanCounter.innerHTML = countDraggableInContainer.length + "/10";
    })
    $('.printpic').click(function () {
      window.html2canvas = html2canvas;
      window.jsPDF = window.jspdf.jsPDF;
      // var element = document.querySelector(".table-card");
      var element = $(this).closest('.printable');
      html2canvas(element[0], {
        letterRendering: 1,
        allowTaint: true,
        useCORS: true,
        scale: 1,
      }).then(canvas => {
        const imgData = canvas.toDataURL('image/png');
        saveAs(canvas.toDataURL(), 'Chart.png');
      });
    });

    $('.print').click(function () {
      window.html2canvas = html2canvas;
      window.jsPDF = window.jspdf.jsPDF;
      // var element = document.querySelector(".table-card");
      var element = $(this).closest('.printable');
      html2canvas(element[0], {
        letterRendering: 1,
        allowTaint: true,
        useCORS: true,
        scale: 1,
      }).then(canvas => {
        const imgData = canvas.toDataURL('image/png');
        const doc = new jsPDF({
          orientation: 'landscape',
        });
        const imgProps = doc.getImageProperties(imgData);
        const pdfWidth = doc.internal.pageSize.getWidth();
        const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;
        doc.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight);
        doc.save('Chart.pdf');
      });
    });

    function saveAs(uri, filename) {
      var link = document.createElement('a');
      if (typeof link.download === 'string') {
        link.href = uri;
        link.download = filename;

        //Firefox requires the link to be in the body
        document.body.appendChild(link);

        //simulate click
        link.click();

        //remove the link when done
        document.body.removeChild(link);
      } else {
        window.open(uri);
      }
    }
  });
  var ctx = document.getElementById('myAreaChart').getContext('2d');


  var data = {
    datasets: [{
      data: ['{{countAllCopywriter}}', '{{countAllEditor}}', '{{countAllTranslator}}'],
      backgroundColor: [
        "#FF6384",
        "#4BC0C0",
        "#FFCE56",
      ],
    }],
    labels: [
      "Copy Writer",
      "Editor",
      "Translator",
    ]
  };
  var ctx = $("#myAreaChart");
  new Chart(ctx, {
    data: data,
    type: 'polarArea'
  });


  var ctx2 = document.getElementById("Line-chart").getContext("2d");

  var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

  gradientStroke1.addColorStop(1, 'rgba(128, 190, 239,0.2)');
  gradientStroke1.addColorStop(0.2, 'rgba(128, 190, 239,.1)');
  gradientStroke1.addColorStop(0, 'rgba(128, 190, 239,0.0)'); //purple colors


  const labels = [
    'Jan',
    'Feb',
    'Mar',
    'Apr',
    'May',
    'Jun',
    'Jul',
    'Aug',
    'Sep',
    'Oct',
    'Nov',
    'Dec'
  ];
  new Chart(ctx2, {
    type: "line",
    data: {
      labels: labels,
      datasets: [{
        label: "Applications",
        tension: 0.4,
        borderWidth: 0,
        borderColor: "#80beef",
        borderWidth: 3,
        backgroundColor: gradientStroke1,
        fill: true,
        data: [{% for app in countsAllApplicant %} '{{app}}', {% endfor %}],
    maxBarThickness: 6

  },
      ],
    },
    options: {
  },

  });
</script>
{% endblock %}