{% extends 'main/Admin/include/base.html' %}

{% load static%}
{% block content%}
<section class="home-section">
    {% include 'main/Admin/include/topnavbar.html' %}
    <div class="container-fluid px-4">
        <div class="card mb-3" style="background-color:transparent; border:none">
            <div class="card-body text-center">
                <h1 class="fw-bold">Department Management</h1>
                <p class="fs-4">
                    Welcome Recruiters!
                </p>
            </div>
        </div>
        <div class="row draggable-row-container">
            <div class="col">
                <div class="card shadow">
                    <div class="card-body drag-body">
                        <div class="card-title text-start text-uppercase fw-bold">Department Manager Request<span class="float-end count" id="span1">1/10</span></div>
                        <hr>
                        {% for manpower in notifs%}
                        {% if not manpower.is_Finished and manpower.on_Going%}

                        <div class="row item">
                            <div class="col-1">
                                {% if manpower.job_Title|stringformat:'s' == 'Copy Writer'%}
                                <i class="bi bi-pencil-square fs-3 me-3 " style="color: #e74c3c"></i>
                                {% elif manpower.job_Title|stringformat:'s' == 'Editor'%}
                                <i class="bi bi-file-earmark-zip-fill fs-3 me-3 " style="color: #34495e"></i>
                                {% elif manpower.job_Title|stringformat:'s' == 'Translator'%}
                                <i class="bi bi-translate fs-3 me-3 " style="color: #2ecc71"></i>
                                {% endif %}
                            </div>
                            <div class="col align-self-center">


                                <p class="mb-0 " style="font-weight:600;">{{manpower.job_Title}} Department</p>
                                <p class="mb-0 text-secondary " style="font-size: 12px;">

                                    <span style="color: #e74c3c;">{{manpower.name}}</span>

                                </p>
                            </div>

                            <div class="col align-self-center">

                                <p class="mb-0 " style="font-weight:600;">{{manpower.job_Title}}</p>
                                <p class="mb-0 text-secondary " style="font-size: 12px;">

                                    <span style="color: #e74c3c;">{{manpower.currentCandidate}}/{{manpower.nosCandidate}}</span>

                                </p>
                            </div>

                            <div class="col align-self-center">
                                <a type="button" class="btn viewScore" href="{% url 'department' manpower.id %}">View</a>
                            </div>

                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow">
                    <div class="card-body drag-body">
                        <div class="card-title text-start text-uppercase fw-bold">Previous Request<span class="float-end count" id="span2">1/10</span></div>
                        <hr>
                        {% for manpower in notifs%}
                        {% if manpower.is_Finished%}
                        <div class="row item">
                            <div class="col-1">
                                {% if manpower.job_Title|stringformat:'s' == 'Copy Writer'%}
                                <i class="bi bi-pencil-square fs-3 me-3 " style="color: #e74c3c"></i>
                                {% elif manpower.job_Title|stringformat:'s' == 'Editor'%}
                                <i class="bi bi-file-earmark-zip-fill fs-3 me-3 " style="color: #34495e"></i>
                                {% elif manpower.job_Title|stringformat:'s' == 'Translator'%}
                                <i class="bi bi-translate fs-3 me-3 " style="color: #2ecc71"></i>
                                {% endif %}
                            </div>
                            <div class="col align-self-center">


                                <p class="mb-0 " style="font-weight:600;">{{manpower.job_Title|stringformat:'s'}} Department</p>
                                <p class="mb-0 text-secondary " style="font-size: 12px;">

                                    <span style="color: #e74c3c;">{{manpower.name}}</span>

                                </p>
                            </div>

                            <div class="col align-self-center">

                                <p class="mb-0 " style="font-weight:600;">{{manpower.job_Title|stringformat:'s'}}</p>
                                <p class="mb-0 text-secondary " style="font-size: 12px;">

                                    <span style="color: #2ecc71;">{{manpower.currentCandidate}}/{{manpower.nosCandidate}}</span>

                                </p>
                            </div>

                            <div class="col align-self-center">
                                <a type="button" class="btn viewScore" href="{% url 'department' manpower.id %}">View</a>
                            </div>

                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>

    </div>




    <div class="p-4">
        {% include 'main/Admin/include/departmentTable.html' %}
    </div>

</section>

{% if instance%}
<!-- Modal -->
<div class="modal fade score" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><img src="{% static 'assets/img/logos.png' %}" alt="" srcset="" width="50px" height="50px">
                    {{instance}} Manager Request
                </h5>
                <a type="button" href="{% url 'department'%}"><i class="bi bi-x-diamond text-white"></i></a>
            </div>

            <div class="modal-body userInfo">

                <div class="page-modal active">
                    <div class="row">

                        <div class="col">
                            <label for="department" class="form-label">Department</label>
                            <p>{{instance.job_Title}}</p>
                        </div>
                        <div class="col">
                            <label for="datereq" class="form-label">Date of Request</label>
                            <p>{{instance.job_Title}}</p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" readonly placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">{{instance.reason}}
                            </textarea>
                            <label for="floatingTextarea2">Comments</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="noCan" class="form-label">Nos of Candidate</label>
                            <p>{{instance.nosCandidate}}</p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" readonly placeholder="Leave a comment here" id="float1" style="height: 100px">{{instance.requirements}}
                            </textarea>
                            <label for="float1">Skill / Qualifications & Experience Requirements</label>
                        </div>
                    </div>

                    {% if group|stringformat:'s' == 'HR Manager'%}
                    <button class="btn btn-outline-secondary text-center float-end border editButton">Edit</button>
                    {% endif %}

                </div>

                <div class="page-modal">
                    <form action="{% url 'department' instance.id %}" method="POST">
                        {% csrf_token %}
                        {{form.non_field_errors}}
                        <div class="row mb-3">
                            <div class="col">
                                <label for="Requesting" class="form-label">Requester Name</label>
                                {{form.name}}
                                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                            </div>
                            <div class="col">
                                <label for="department" class="form-label">Department</label>
                                {{form.job_Title}}
                                <!-- <select class="form-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">Copy Writer</option>
                                    <option value="2">Editor</option>
                                    <option value="3">Translator</option>
                                </select> -->
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="datereq" class="form-label">Date of Request</label>
                                {{form.requestDate}}
                            </div>
                            <div class="col">
                                <label for="noCan" class="form-label">Nos of Candidate</label>
                                {{form.nosCandidate}}
                            </div>
                        </div>
                        <div class=" mb-3">
                            <div class="form-floating">
                                {{form.reason}}
                                <!-- <textarea class="form-control" style="resize: none;" placeholder="Leave a comment here" id="float1"></textarea> -->
                                <label for="float1">Reason for request</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-floating">
                                {{form.requirements}}
                                <!-- <textarea class="form-control" placeholder="Leave a comment here" id="float2" style="height: 100px;resize: none;"></textarea> -->
                                <label for="float2">Skill / Qualifications & Experience Requirements</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-secondary text-center float-end next">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


{% endif %}
{% if postinstance%}

<div class="modal fade" id="jobpost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body  text-center">


                <p class="h2"><i class="bi bi-check-circle-fill" style="font-size: 100px;"></i> <br> Request Accepted!,</p>
                <p class="h5">But Job Post In {{postinstance}} is disabled!</p>
                <a href="{% url 'department'%}" class="btn border text-center mb-5 mt-2" style="width: auto;">Continue</a>
                <a href="{% url 'websetting/job' postinstance.id %}" class="btn border text-center mb-5 mt-2" style="width: auto;">Enable</a>
                <!-- data-bs-dismiss="modal" -->
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}


{% block scriptContent%}
<script>
    $(document).ready(function () {
        var modaledit = '{{instance}}'
        if (modaledit) {
            console.log(modaledit)
            $('#exampleModal').modal('show');
        }
        const containers = document.querySelectorAll('.drag-body')
        containers.forEach((container, index) => {
            const countDraggableInContainer = container.querySelectorAll('.item')

            const getSpanCounter = container.querySelector('.count');

            getSpanCounter.innerHTML = countDraggableInContainer.length + "/10";
        })
        var postinstance = '{{postinstance}}'
        if (postinstance) {
            console.log(postinstance)
            $('#jobpost').modal('show');
        }
    });

</script>
{% endblock%}