{% extends 'main/Admin/include/base.html' %} {% load static%} {% block content%}
<section class="home-section">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Onboarding Applicants</h1>
    <div class="row charts">
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body">
            <div class="analytics-logo">
              <i class="bi bi-people-fill fs-1" style="color: #3498db"></i>
              <span class="fs-3 fw-bold ms-2 align-text-bottom">
                {{countclient}}
              </span>
            </div>
            <div class="text-secondary">No. Onboarding Applicants</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body">
            <div class="analytics-logo">
              <i class="bi bi-pencil-square fs-1" style="color: #e74c3c"></i>
              <span class="fs-3 fw-bold ms-2 align-text-bottom">
                {{countWriter}}
              </span>
            </div>
            <div class="text-secondary">No. of Content Writer</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body">
            <div class="analytics-logo">
              <i class="bi bi-translate fs-1" style="color: #2ecc71"></i>
              <span class="fs-3 fw-bold ms-2 align-text-bottom">
                {{countTrans}}
              </span>
            </div>
            <div class="text-secondary">No. of Translator</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body">
            <div class="analytics-logo">
              <i
                class="bi bi-file-earmark-zip-fill fs-1"
                style="color: #34495e"
              ></i>
              <span class="fs-3 fw-bold ms-2 align-text-bottom">
                {{countEditor}}
              </span>
            </div>
            <div class="text-secondary">No. of Editor</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3">
        <div class="card border-0 shadow mb-4">
          <div class="card-header text-center fw-bold">
            Onboarding Applicant By City
          </div>
          <div class="card-body">
            <canvas id="PieChart" width="100%"></canvas>
          </div>
        </div>
        <div class="card border-0 shadow mb-4">
          <div class="card-header text-center fw-bold">
            Applicant Score Average
          </div>
          <div class="card-body" height="100%">awdwad</div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="card border-0 shadow mb-4">
          <div class="card-header text-center fw-bold">
            Onboarding Applicant Age Seperations
          </div>
          <div class="card-body">
            <canvas id="myBarChart" width="100%"></canvas>
          </div>
        </div>
      </div>
    </div>

    {% include 'main/Admin/include/drag&drop.html' %}
  </div>
</section>
{% if instance%}
<!-- Modal -->
<div
  class="modal fade score"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="" method="post">
        {% csrf_token %} {{modalform.non_field_errors}} {{modalform.accounts}}
        {{modalform.status}}
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <img
              src="{% static 'assets/img/logos.png' %}"
              alt=""
              srcset=""
              width="50px"
              height="50px"
            />
            Applicant Score & Remarks
          </h5>
          <a type="button" data-bs-dismiss="modal" aria-label="Close">
            <i class="bi bi-x-diamond"></i>
          </a>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <div class="mb-3 profile">
              <img
                class="img-circle"
                src="{{instance.personaldetails.profile_image.url}}"
              />
              {{instance.personaldetails.fname}}
              {{instance.personaldetails.lname}}
              <a href="{{instance.article.article.url}}">
                <i class="bi bi-bookmark-star-fill"></i>
              </a>
              <a href="{% url 'resumePrev' instance.id %}">
                <i class="bi bi-file-earmark-person-fill"></i>
              </a>
            </div>
            <div class="row">
              <div class="col">
                <label for="score" class="form-label">Job Title</label>

                {{modalform.jobTitle}}
              </div>
              <div class="col">
                <label for="score" class="form-label">Score</label>
                {{modalform.score}}
                <div id="emailHelp" class="form-text">
                  80% Is the passing point
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-floating">
              {{modalform.remarks}}
              <label for="floatingTextarea">Remarks:</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary save">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %} {% endblock %} {% block scriptContent%}
<script>
  $(document).ready(function () {
    var modaledit = "{{instance}}";
    if (modaledit) {
      console.log(modaledit);
      $("#exampleModal").modal("show");
    }
  });
</script>

<script>

  // Bar Chart Example
    var ctx = document.getElementById("myBarChart");
    var myLineChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for citynames, value in cities %}'{{citynames|title}}',{% endfor %}],
    datasets: [{
        label: "Count",
        backgroundColor: ["#e74c3c", "#3498db", "#2ecc71", "#f1c40f", "#3498db", "#2ecc71"],
        borderColor: "rgba(2,117,216,1)",
        data: [{% for citynames, value in cities %}'{{value}}',{% endfor %}],
    }],
        },
    options: {
        scales: {
            xAxes: [{
                time: {
                    unit: 'month'
                },
                gridLines: {
                    display: false
                },
                ticks: {
                    maxTicksLimit: 6
                }
            }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: {{maxPerCity}},
                        maxTicksLimit: 5
                    },
                    gridLines: {
                        display: true
                    }
                }],
            },
        legend: {
            display: false
        }
    }
    });

  // Pie Chart Example
  var ctx = document.getElementById("PieChart");
  var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{% for citynames, value in cities %}'{{citynames|title}}',{% endfor %}],
      datasets: [{
        data: [{% for citynames, value in cities %}'{{value}}',{% endfor %}],
        backgroundColor: ["#e74c3c", "#3498db", "#2ecc71", "#f1c40f", "#3498db", "#2ecc71"],
      }],
    },
  });
</script>
{% endblock%}
