{% extends 'main/Admin/include/base.html' %} {% load static%} {% block content%}
<section class="home-section">
  {% include 'main/Admin/include/topnavbar.html' %}
  <div class="container-fluid px-4">
    <div class="card mb-3" style="background-color: transparent; border: none">
      <div class="card-body text-center">
        <h1 class="fw-bold">Onboarding Applicants</h1>
        <p class="fs-4">Welcome Recruiters!</p>
      </div>
    </div>
    <div class="row charts">
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body">
            <div class="analytics-logo">
              <i class="bi bi-people-fill fs-1" style="color: #3498db"></i>
              <span class="fs-3 fw-bold ms-2 align-text-bottom">
                {{countclient}}
              </span>
            </div>
            <div class="text-secondary">No. Onboarding Applicants</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body">
            <div class="analytics-logo">
              <i class="bi bi-pencil-square fs-1" style="color: #e74c3c"></i>
              <span class="fs-3 fw-bold ms-2 align-text-bottom">
                {{countWriter}}
              </span>
            </div>
            <div class="text-secondary">
              No. of Content Writer | Average Score:
              {%if avgScoreWriter.copywriterfinal__avg %}
              {{avgScoreWriter.copywriterfinal__avg}} {%else%} 0 {%endif%}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body">
            <div class="analytics-logo">
              <i class="bi bi-translate fs-1" style="color: #2ecc71"></i>
              <span class="fs-3 fw-bold ms-2 align-text-bottom">
                {{countTrans}}
              </span>
            </div>
            <div class="text-secondary">
              No. of Translator | Average Score:
              {%if avgScoreTrans.translatorfinal__avg %}{{avgScoreTrans.translatorfinal__avg}} {%else%} 0 {%endif%}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body">
            <div class="analytics-logo">
              <i class="bi bi-file-earmark-zip-fill fs-1" style="color: #34495e"></i>
              <span class="fs-3 fw-bold ms-2 align-text-bottom">
                {{countEditor}}
              </span>
            </div>
            <div class="text-secondary">
              No. of Editor | Average Score: {%if avgScoreEditor.editorfinal__avg %}
              {{avgScoreEditor.editorfinal__avg}} {%else%} 0 {%endif%}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row charts">
      <div class="col-xl-4">

        <div class="card shadow">
          <div class="card-body">

            <div class="mb-2 p-2">
              <div class="p-2 fs-5 text-center" style="font-weight: 600;">Today's Job Acceptance</div>
              <div class="row">
                <div class="col text-center">

                  <div class="p-2" style="font-size: 32px;"><i class="bi bi-pencil-square" style="color: #e74c3c"></i> {{countwritertoday}}</div>
                </div>

                <div class="col text-center">

                  <div class="p-2" style="font-size: 32px;"><i class="bi bi-file-earmark-zip-fill" style="color: #34495e"></i> {{counteditortoday}}</div>
                </div>

                <div class="col text-center">

                  <div class="p-2" style="font-size: 32px;"><i class="bi bi-translate" style="color: #2ecc71"></i> {{counttranslatortoday}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-0 shadow mt-5">
          <div class="card-header text-center fw-bold fs-5">
            Onboarding Applicant By City
          </div>
          <div class="card-body p-3">
            <div class="mb-5">
              <canvas id="PieChart" width="100%"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="card border-0 shadow mb-4 ">
          <div class="card-header text-center fw-bold fs-5">
            Monthly Job Acceptance {% now 'Y'%}
          </div>
          <div class="card-body">
            <canvas id="myBarChart" width="100%"></canvas>
          </div>
        </div>
      </div>
    </div>
    {% include 'main/Admin/include/applicantTable.html' %}
  </div>
</section>
{% endblock %} {% block scriptContent%}
<script>
  $(document).ready(function () {
    var modaledit = "{{instance}}";
    if (modaledit) {
      console.log(modaledit);
      $("#exampleModal").modal("show");
    }
  });
</script>

<script>

  const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'ovember',
    'December'
  ];
  const data = {
    labels: labels,
    datasets: [{
      label: 'Copy Writers',
      backgroundColor: 'transparent',
      borderColor: '#e74c3c',
      data: [{% for copywriterdata in countsCopywriterMonth %}'{{copywriterdata}}', {% endfor %}],
    }, {
    label: 'Translators',
      backgroundColor: 'transparent',
        borderColor: '#3498db',
          data: [{% for editordata in countsEditorMonth %} '{{editordata}}', {% endfor %}],
    }, {
    label: 'Editors',
      backgroundColor: 'transparent',
        borderColor: '#f1c40f',
          data: [{% for transdata in countsTranslatorMonth %} '{{transdata}}', {% endfor %}],
    },
    ]
  };
  const config = {
    type: 'line',
    data: data,
    options: {}
  };
  var myChart = new Chart(
    document.getElementById('myBarChart'),
    config
  );


  // Pie Chart Example
  var ctx = document.getElementById("PieChart");
  var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{% for citynames, value in cities %}'{{citynames|title}}',{% endfor %}],
  datasets: [{
    data: [{% for citynames, value in cities %}'{{value}}', {% endfor %}],
    backgroundColor: ["#e74c3c", "#3498db", "#2ecc71", "#f1c40f", "#3498db", "#2ecc71"],
      }],
    },
  });
</script>
{% endblock%}