{% extends 'main/Admin/include/base.html' %} {% load static%} {% block content%}
<section class="home-section">
  {% include 'main/Admin/include/topnavbar.html' %}
  <div class="container-fluid px-4">
    <div class="card mb-3" style="background-color: transparent; border: none">
      <div class="card-body text-center">
        <h1 class="fw-bold">Onboarding Applicants</h1>
        <p class="fs-4">Welcome Recruiters!</p>
      </div>
    </div>
    <div class="row charts">
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-9">
                <div class="numbers">
                  <p class="mb-0 text-secondary text-capitalize">No. Onboarding Applicants</p>
                  <h5 class="mb-0">
                    {{countclient}}
                  </h5>
                </div>
              </div>
              <div class="col-3 text-end">
                <div class="icon icon-shape shadow text-center">
                  <i class="bi bi-file-earmark-person-fill opacity-10"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-9">
                <div class="numbers">
                  <p class="mb-0 text-secondary text-capitalize">No. of Content Writer</p>
                  <h5 class="mb-0">
                    {{countWriter}}
                    <span class="text-secondary">| Average Score:</span>

                    {%if avgScoreWriter.copywriterfinal__avg %}
                    {% if avgScoreWriter.copywriterfinal__avg > 70 %}
                    <span class="text-success">
                      {{avgScoreWriter.copywriterfinal__avg}}
                    </span>
                    {%else%}
                    <span class="text-warning">
                      {{avgScoreWriter.copywriterfinal__avg}}
                    </span>
                    {% endif %}
                    {%else%}
                    <span class="text-warning">
                      0
                    </span>
                    {%endif%}
                  </h5>
                </div>
              </div>
              <div class="col-3 text-end">
                <div class="icon icon-shape shadow text-center">
                  <i class="bi bi-pencil-square opacity-10"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-9">
                <div class="numbers">
                  <p class="mb-0 text-secondary text-capitalize">No. of Translator</p>
                  <h5 class=" mb-0">
                    {{countTrans}}
                    <span class="text-secondary">| Average Score:</span>
                    {%if avgScoreTrans.translatorfinal__avg %}
                    {% if avgScoreTrans.translatorfinal__avg > 70 %}
                    <span class="text-success">
                      {{avgScoreTrans.translatorfinal__avg}}
                    </span>
                    {%else%}
                    <span class="text-warning">

                      {{avgScoreTrans.translatorfinal__avg}}
                    </span>
                    {% endif %}
                    {%else%}
                    <span class="text-warning">
                      0
                    </span>
                    {%endif%}
                  </h5>
                </div>
              </div>
              <div class="col-3 text-end">
                <div class="icon icon-shape shadow text-center">
                  <i class="bi bi-translate opacity-10"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border-0 shadow">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-9">
                <div class="numbers">
                  <p class="mb-0 text-secondary text-capitalize">No. of Editor</p>
                  <h5 class="mb-0">
                    {{countEditor}}

                    <span class="text-secondary">| Average Score:</span>

                    {%if avgScoreEditor.editorfinal__avg %}
                    {% if avgScoreEditor.editorfinal__avg > 70 %}
                    <span class="text-success">
                      {{avgScoreEditor.editorfinal__avg}}
                    </span>
                    {%else%}
                    <span class="text-warning">
                      {{avgScoreEditor.editorfinal__avg}}
                    </span>
                    {% endif %}
                    {%else%}
                    <span class="text-warning">
                      0
                    </span>
                    {%endif%}
                  </h5>
                </div>
              </div>
              <div class="col-3 text-end">
                <div class="icon icon-shape shadow text-center">
                  <i class="bi bi-file-earmark-zip-fill opacity-10"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row charts">
      <div class="col-xl-6">

        <!-- <div class="card shadow">
          <div class="card-body">

            <div class="mb-2 p-2">
              <div class="p-2 fs-5 text-center" style="font-weight: 600;">Today's Job Acceptance</div>
              <div class="row">
                <div class="col text-center">

                  <div class="p-2" style="font-size: 32px;">
                    <i class="bi bi-pencil-square" style="color: #e74c3c"></i>
                    {{countwritertoday}}
                  </div>
                </div>

                <div class="col text-center">

                  <div class="p-2" style="font-size: 32px;"><i class="bi bi-file-earmark-zip-fill" style="color: #34495e"></i> {{counteditortoday}}</div>
                </div>

                <div class="col text-center">

                  <div class="p-2" style="font-size: 32px;"><i class="bi bi-translate" style="color: #2ecc71"></i> {{counttranslatortoday}}</div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="card border-0 shadow">
          <div class="printable">
            <div class="card-header text-center fw-bold fs-5">
              Department's Job Score Avarage
              <i class="bi bi-file-earmark-image-fill print"></i>
              <i class="bi bi-camera-fill printpic"></i>
            </div>
            <div class="card-body p-3">
              <canvas id="barChart" width="100%"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="card border-0 shadow">
          <div class="printable">

            <div class="card-header text-center fw-bold fs-5">
              Department's Monthly Accepted Applicant {% now 'Y'%}
              <i class="bi bi-file-earmark-image-fill print"></i>
              <i class="bi bi-camera-fill printpic"></i>

            </div>
            <div class="card-body">
              <canvas id="lineChart" width="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'main/Admin/include/applicantTable.html' %}
  </div>
</section>
{% endblock %} {% block scriptContent%}
<script>
  $(document).ready(function () {
    var modaledit = "{{instance}}";
    if (modaledit) {
      console.log(modaledit);
      $("#exampleModal").modal("show");
    }

    $('.printpic').click(function () {
      window.html2canvas = html2canvas;
      window.jsPDF = window.jspdf.jsPDF;
      // var element = document.querySelector(".table-card");
      var element = $(this).closest('.printable');
      html2canvas(element[0], {
        letterRendering: 1,
        allowTaint: true,
        useCORS: true,
        scale: 1,
      }).then(canvas => {
        const imgData = canvas.toDataURL('image/png');
        saveAs(canvas.toDataURL(), 'Chart.png');
      });
    });

    $('.print').click(function () {
      window.html2canvas = html2canvas;
      window.jsPDF = window.jspdf.jsPDF;
      // var element = document.querySelector(".table-card");
      var element = $(this).closest('.printable');
      html2canvas(element[0], {
        letterRendering: 1,
        allowTaint: true,
        useCORS: true,
        scale: 1,
      }).then(canvas => {
        const imgData = canvas.toDataURL('image/png');
        const doc = new jsPDF({
          orientation: 'landscape',
        });
        const imgProps = doc.getImageProperties(imgData);
        const pdfWidth = doc.internal.pageSize.getWidth();
        const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;
        doc.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight);
        doc.save('Chart.pdf');
      });
    });

    function saveAs(uri, filename) {
      var link = document.createElement('a');
      if (typeof link.download === 'string') {
        link.href = uri;
        link.download = filename;

        //Firefox requires the link to be in the body
        document.body.appendChild(link);

        //simulate click
        link.click();

        //remove the link when done
        document.body.removeChild(link);
      } else {
        window.open(uri);
      }
    }
  });
</script>

<script>

  const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
  ];
  const data = {
    labels: labels,
    datasets: [{
      label: 'Copy Writers',
      backgroundColor: 'transparent',
      borderColor: '#e74c3c',
      data: [{% for copywriterdata in countsCopywriterMonth %}'{{copywriterdata}}', {% endfor %}],
    }, {
    label: 'Translators',
      backgroundColor: 'transparent',
        borderColor: '#3498db',
          data: [{% for transdata in countsTranslatorMonth %} '{{transdata}}', {% endfor %}],
    }, {
    label: 'Editors',
      backgroundColor: 'transparent',
        borderColor: '#f1c40f',
          data: [{% for editordata in countsEditorMonth %} '{{editordata}}', {% endfor %}],
    },
    ]
  };
  const config1 = {
    type: 'line',

    options: {
      tension: 0.5,
    },
    data: data
  };

  var myChart = new Chart(
    document.getElementById('lineChart'),
    config1
  );


  // Pie Chart Example
  // var ctx = document.getElementById("PieChart");
  // var myPieChart = new Chart(ctx, {
  //   type: 'pie',
  //   data: {
  //     labels: [{% for citynames, value in cities %}'{{citynames|title}}',{% endfor %}],
  // datasets: [{
  //   data: [{% for citynames, value in cities %}'{{value}}', {% endfor %}],
  //   backgroundColor: ["#e74c3c", "#3498db", "#2ecc71", "#f1c40f", "#3498db", "#2ecc71"],
  //     }],
  //   },
  // options: {
  // } 
  // });


  const data2 = {
    labels: ['Copy Writer', 'Translator', 'Editor'],
    datasets: [{
      data: ['{{avgScoreWriter.copywriterfinal__avg}}', '{{avgScoreTrans.translatorfinal__avg}}', '{{avgScoreEditor.editorfinal__avg}}'],
      backgroundColor: [
        'rgba(231, 76, 60, 0.2)',
        'rgba(52, 152, 219, 0.2)',
        'rgba(241, 196, 15, 0.2)'
      ],
      borderColor: [
        'rgba(231, 76, 60, 1)',
        'rgba(52, 152, 219, 1)',
        'rgba(241, 196, 15, 1)'
      ],
      borderWidth: 1
    }]
  };
  const config2 = {
    type: 'bar',
    data: data2,
    options: {
      plugins: {
        legend: {
          display: false
        }
      },
      scales: {
        y: {
          beginAtZero: true,
          min: 0,
          max: 100
        },

      }
    },
  };

  // For a bubble chart
  var myChart = new Chart(
    document.getElementById('barChart'),
    config2
  );
</script>
{% endblock%}