{% extends 'main/Admin/include/base.html' %}

{% load static%}
{% block content%}
<section class="home-section">
    <div class="container-fluid px-4">

        <div class="card mb-3" style="background-color:transparent; border:none">
            <div class="card-body text-center">
                <h1 class="fw-bold">Rejected Applicants</h1>
                <p class="fs-4">
                    Welcome Recruiters!
                </p>
            </div>
        </div>
        {% include 'main/Admin/include/applicantTable.html' %}
    </div>
</section>
{% endblock %}