{% extends 'main/Admin/include/base.html' %}

{% load static%}
{% block content%}
<section class="home-section">
    {% include 'main/Admin/include/topnavbar.html' %}
    <div class="container-fluid px-4">

        <div class="card" style="background-color:transparent; border:none">
            <div class="card-body text-center">
                <h1 class="fw-bold">Website Setting</h1>
                <p class="fs-4">
                    Welcome Recruiters!
                </p>
            </div>
        </div>
        <div class="row p-5">
            <div class="col">
                <div class="card mb-4 shadow">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="fw-bold" style="text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.246);">Job List <i class="bi bi-printer-fill"></i></h3>
                        </div>
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Job Name</th>
                                    <th>Description</th>
                                    <th>Skill set</th>
                                    <th>On Hiring</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Job Name</th>
                                    <th>Description</th>
                                    <th>Skill set</th>
                                    <th>On Hiring</th>
                                    <th>Edit</th>
                                </tr>
                            </tfoot>
                            <tbody>

                                {% for job in jobs%}

                                <tr>
                                    <td>{{job.id}}</td>
                                    <td>{{ job }}</td>
                                    <td>{{ job.job_Description }}</td>
                                    <td>
                                        {% for skill in job.jobskill_set.all%}
                                        {% if forloop.last %}
                                        {{ skill }}
                                        {% else %}
                                        {{ skill }} -
                                        {% endif %}
                                        {%endfor%}
                                    </td>
                                    <td>{% if job.is_onHire%}
                                        <a href="{% url 'websetting/job' job.id%}"><i class="bi bi-check-circle" style="color: #2ecc71;"></i></a>
                                        {%else%}
                                        <a href="{% url 'websetting/job' job.id%}"><i class="bi bi-x-circle" style="color: #e74c3c;"></i></a>
                                        {%endif%}
                                    </td>
                                    <td>
                                        <a href="{% url 'websetting/job/edit' job.id%}">Edit</a>
                                    </td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if instance %}
<div class="modal fade score" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="{%url 'websetting/job/update' instance.id%}" method="post">
                {% csrf_token %}
                {{form.non_field_errors}}

                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel"><img src="{% static 'assets/img/logos.png' %}" alt="" srcset="" width="50px" height="50px">
                        Job Details
                    </h5>
                    <a type="button" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-diamond"></i></a>
                </div>
                <div class="modal-body">

                    <label for="id_job_Title" class="form-label">Job Title</label>
                    {{form.job_Title}}


                    <div class="form-floating mt-3">
                        <textarea name="job_skill" class='form-control' cols='40' row='10' id="job_skill" style="height: 150px;">{% for skill in skillinstance%}{{skill}} - {% endfor %}</textarea>
                        <div class="form-text">Enter the each skill by Dashes (E.g English - Tagalog - Japanese)</div>
                        <label for="job_skill">Job Skill Set:</label>
                    </div>

                    <div class="form-floating mt-3">
                        {{form.job_Description}}
                        <label for="id_job_Description">Job Description:</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary save">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block scriptContent%}
<script>
    $(document).ready(function () {
        $('#exampleModal').modal('show');
        function textAreaAdjust(element) {
            element.style.height = "1px";
            element.style.height = (25 + element.scrollHeight) + "px";
        }
    });

</script>
{% endblock %}