{% extends 'main/Admin/include/base.html' %}

{% load static%}
{% block content%}
<section class="home-section">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Human Resources Staff</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Welcome Recruiters!</li>
    </ol>
    <div class="row">
      <div class="card mb-4 shadow">
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>Avatar</th>
              <th>Name</th>
              <th>Position</th>
              <th>Address</th>
              <th>Last Login</th>
              <th>More Details</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Avatar</th>
              <th>Name</th>
              <th>Position</th>
              <th>Address</th>
              <th>Last Login</th>
              <th>More Details</th>
            </tr>
          </tfoot>
          <tbody>

            {% for user in userList%}
            {% for group in user.groups.all %}
            {% if group|stringformat:'s' == 'HR Manager' or group|stringformat:'s' == 'HR Staff'%}

            <tr>
              <td><img class="img-circle" src="{{user.profile_image.url}}" alt="profileImg" /></td>
              <td>{{user.first_name}} {{user.last_name}}</td>
              <td>{{ group }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.last_login }}</td>
              <td><a href="{% url 'updateProfile' user.id %}" type="button" class="btn btn-primary">View</a></td>
            </tr>

            {% endif %}
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</section>
{% endblock %}