{% extends 'main/Client/include/base.html' %} {% load static%}

{% block content %}

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center justify-content-end text-dark position-fixed col-12" style="background-color: rgb(201, 76, 76,0) ">
    <span class="spanacc me-2"> Don't have an account yet? </span>
    <a href="{% url 'signup'%}" class="btn btn-outline-dark btn-sm text-start button me-2" type="button " id="button-addon1 ">Sign up</a>
    <!-- <span class="spanacc me-2"> Need Help? </span> -->
</section>
<div class="d-flex align-items-center justify-content-center vertical-center ">

    <ul class='circles position-fixed'>
        <li></li>
        <li></li>
        <li><i class="bi bi-octagon-fill"></i></li>
        <li></li>
        <li></li>
        <li><i class="bi bi-plus"></i></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="card border-0 " style="width: 25rem; background-color:rgba(231, 76, 60, 0); ">
        <div class="card-body ">
            <h3 class="card-title text-center ">WriTeam</h3>
            <h6 class="card-subtitle mb-2 text-center text-muted ">Your password has been reset. you may go ahead
                and <a href="{%url 'signin'%}">sign in</a> now.
            </h6>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptContent %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                        $("#infobox").show();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}