{% extends 'main/Client/include/base.html' %} {% load static%}

{% block content %}

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center justify-content-end text-dark position-fixed col-12" style="background-color: rgb(201, 76, 76,0) ">
    <span class="spanacc me-2"> Don't have an account yet? </span>
    <a href="{% url 'signup'%}" class="btn btn-outline-dark btn-sm text-start button me-2" type="button " id="button-addon1 ">Sign up</a>
    <!-- <span class="spanacc me-2"> Need Help? </span> -->
</section>
<div class="d-flex align-items-center justify-content-center vertical-center ">

    <ul class='circles position-fixed'>
        <li></li>
        <li></li>
        <li><i class="bi bi-octagon-fill"></i></li>
        <li></li>
        <li></li>
        <li><i class="bi bi-plus"></i></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="card border-0 " style="width: 18rem; background-color:rgba(231, 76, 60, 0); ">
        <div class="card-body ">
            <h3 class="card-title text-center ">WriTeam</h3>
            <div class="card mb-3 infobox" id="infobox" style="display:none">
                <div class="card-body text-center ">
                    <i class="bi bi-exclamation-circle-fill"></i>
                    <h6 class="card-subtitle mb-2 text-center text-muted ">Password Update</h6>
                    {% for field in form%}
                    {% for error in field.errors%}
                    <p>{{field.errors}}</p>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <form class="needs-validation" method="POST" id="id_password_change_form" novalidate>
                {% csrf_token %}
                <div class="mb-3 ">
                    <label for="id_old_password" class="form-label ">Old Password</label>
                    <input type="password" class="form-control" id="id_old_password" name="old_password" required>

                </div>
                <div class="mb-3 ">
                    <label for="new_password1" class="form-label ">New password</label>
                    <input type="password" class="form-control " id="new_password1" name="new_password1" required>

                </div>
                <div class="mb-3 ">
                    <label for="new_password2" class="form-label ">Confirm Password</label>
                    <input type="password" class="form-control " id="new_password2" name="new_password2" required>

                </div>
                <button type="submit" class="btn btn-dark col-12 ">Update Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptContent %}
<script>
    $(document).ready(function () {
        // $("#infobox").hide();

        var errormsg = "{% for field in form%}\
                    {% for error in field.errors%}\
                    <p>{{error}}</p>\
                    {% endfor %}\
                    {% endfor %}"
        if (errormsg != '') {
            $("#infobox p").html(errormsg);
            $("#infobox").show();
        }

    });
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                        $("#infobox").show();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}