{% extends 'main/Client/include/base.html' %} {% load static%}

{% block content %}
<div class="d-flex align-items-center justify-content-center vertical-center ">

    <ul class='circles position-fixed'>
        <li></li>
        <li></li>
        <li><i class="bi bi-octagon-fill"></i></li>
        <li></li>
        <li></li>
        <li><i class="bi bi-plus"></i></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="card border-0 " style="width: 18rem; background-color:rgba(231, 76, 60, 0); ">
        <div class="card-body ">
            <h3 class="card-title text-center ">WriTeam</h3>
            <h6 class="card-subtitle mb-2 text-center text-muted ">Your account is now activated you may now <a href="{% url 'signin' %}">login</a></h6>
        </div>
    </div>
</div>
{% endblock %}