<div class="row table-card p-2 mt-5">
    <div class="shadow p-0 mb-4">

        <div class="card">
            {% url 'onboarding' as current_url2 %}
            {% url 'rejectedapp' as current_url3 %}
            <div class="card-body">

                {% if request.path == current_url3 %}

                <div class="card-title">
                    <h3 class="fw-bold" style="text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.246);">Rejected Applicant List
                        <i class="bi bi-printer-fill print"></i>

                        <a href="{%url 'clientExport' 1%}"><i class="bi bi-file-arrow-down-fill printcsv"></i></a>

                    </h3>

                </div>
                {% elif request.path == current_url2 %}

                <div class="card-title">
                    <h3 class="fw-bold" style="text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.246);">Onboarding Applicant List
                        <i class="bi bi-printer-fill print"></i>
                        <a href="{%url 'clientExport' 2%}"><i class="bi bi-file-arrow-down-fill printcsv"></i></a>
                    </h3>

                </div>
                {% else %}

                <div class="card-title">
                    <h3 class="fw-bold" style="text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.246);">Applicant List
                        <i class="bi bi-printer-fill print"></i>
                        <a href="{%url 'clientExport' 3%}"><i class="bi bi-file-arrow-down-fill printcsv"></i></a>

                    </h3>
                </div>

                {% endif %}

                <table id="datatablesSimple">
                    <thead>
                        {% if request.path == current_url3 or request.path == current_url2 %}
                        <tr>
                            <th>ID</th>
                            <th>Avatar</th>
                            <th>Name</th>
                            <th>Copy Writer FS</th>
                            <th>Editor FS</th>
                            <th>Translator FS</th>
                            <th>Article Score</th>

                            {% if request.path == current_url2%}
                            <th>Job Accepted</th>
                            <th>Date Accepted</th>
                            {% else %}
                            <th>Last Login</th>
                            <th>Date Submited</th>
                            {% endif %}

                            <th>Deployment Details</th>
                            <th>Article</th>
                            <th>Resume</th>
                        </tr>
                        {% else %}
                        <tr>
                            <th>ID</th>
                            <th>Avatar</th>
                            <th>Name</th>
                            <th>Copy Writer Score</th>
                            <th>Editor Score</th>
                            <th>Translator Score</th>
                            <th>Article Score</th>
                            <th>Date Submited</th>
                            <th>Last Login</th>
                            <th>Article</th>
                            <th>Resume</th>
                            <th>More</th>
                        </tr>
                        {% endif %}
                    </thead>
                    <tfoot>

                        {% if request.path == current_url3 or request.path == current_url2 %}
                        <tr>
                            <th>ID</th>
                            <th>Avatar</th>
                            <th>Name</th>
                            <th>Copy Writer FS</th>
                            <th>Editor FS</th>
                            <th>Translator FS</th>
                            <th>Article Score</th>

                            {% if request.path == current_url2%}
                            <th>Job Accepted</th>
                            <th>Date Accepted</th>
                            {% else %}
                            <th>Last Login</th>
                            <th>Date Submited</th>
                            {% endif %}

                            <th>Deployment Details</th>
                            <th>Article</th>
                            <th>Resume</th>
                        </tr>
                        {% else %}
                        <tr>
                            <th>ID</th>
                            <th>Avatar</th>
                            <th>Name</th>
                            <th>Copy Writer Score</th>
                            <th>Editor Score</th>
                            <th>Translator Score</th>
                            <th>Article Score</th>
                            <th>Date Submited</th>
                            <th>Last Login</th>
                            <th>Article</th>
                            <th>Resume</th>
                            <th>More</th>
                        </tr>
                        {% endif %}
                    </tfoot>
                    <tbody>

                        {% for user in applicantList%}
                        {% for group in user.groups.all %}

                        {% if request.path == current_url3 %}

                        {% if user.jobapplication.is_validated%}
                        {% if user.jobapplication.copywriterfinal < 80 and user.jobapplication.editorfinal < 80 and user.jobapplication.translatorfinal < 80 %} <tr>
                            <td>{{ user.id }}</td>
                            <td><img class="img-circle" src="{{user.personaldetails.profile_image.url}}" draggable="false" /></td>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                            <td>{{ user.jobapplication.copywriterfinal }}</td>
                            <td>{{ user.jobapplication.editorfinal }}</td>
                            <td>{{ user.jobapplication.translatorfinal }}</td>
                            <td>{{ user.jobapplication.article }}</td>
                            <td>{{ user.jobapplication.dateSubmit }}</td>
                            <td>{{ user.last_login }}</td>
                            <!-- <td><a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add</a></td> -->
                            {%if user.article.article.url != None %}
                            <td><a type="button" class="btn btn-primary" href="{{user.article.article.url}}">View</a></td>
                            {%else%}
                            <td><a type="button" class="btn btn-secondary disabled" href="#">None</a></td>
                            {% endif %}
                            {%if user.personaldetails.fname != None %}
                            <td><a type="button" class="btn btn-primary" href="{% url 'resumePrev' user.id %}">View</a></td>
                            {%else%}
                            <td><a type="button" class="btn btn-secondary disabled" href="#">None</a></td>
                            {% endif %}
                            <!-- <td><button type=" button" class="btn btn-primary">View</button></td> -->
                            </tr>
                            {% endif %}
                            {% endif %}

                            {% elif request.path == current_url2 %}
                            {% if user.jobapplication.is_validated%}
                            {% if user.jobapplication.copywriterfinal >= 80 or user.jobapplication.editorfinal >= 80 or user.jobapplication.translatorfinal >= 80 %}

                            <tr>
                                <td>{{ user.id }}</td>
                                <td><img class="img-circle" src="{{user.personaldetails.profile_image.url}}" draggable="false" /></td>
                                <td>{{user.first_name}} {{user.last_name}}</td>
                                <td>{{ user.jobapplication.copywriterfinal }}</td>
                                <td>{{ user.jobapplication.editorfinal }}</td>
                                <td>{{ user.jobapplication.translatorfinal }}</td>
                                <td>{{ user.jobapplication.article }}</td>
                                <td>{{ user.jobapplication.jobAccepted }}</td>
                                <td>{{ user.jobapplication.dateAccepted }}</td>
                                <td><a type="button" class="btn btn-primary" href="{% url 'onboarding' user.id%}">View</a></td>
                                {%if user.article.article.url != None %}
                                <td><a type="button" class="btn btn-primary" href="{{user.article.article.url}}">View</a></td>
                                {%else%}
                                <td><a type="button" class="btn btn-secondary disabled" href="#">None</a></td>
                                {% endif %}
                                {%if user.personaldetails.fname != None %}
                                <td><a type="button" class="btn btn-primary" href="{% url 'resumePrev' user.id %}">View</a></td>
                                {%else%}
                                <td><a type="button" class="btn btn-secondary disabled" href="#">None</a></td>
                                {% endif %}
                                <!-- <td><button type=" button" class="btn btn-primary">View</button></td> -->
                            </tr>
                            {% endif %}
                            {% endif %}
                            {% else %}
                            {% if group|stringformat:'s' == 'Clients'%}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td><img class="img-circle" src="{{user.personaldetails.profile_image.url}}" draggable="false" /></td>
                                <td>{{user.first_name}} {{user.last_name}}</td>
                                <td>{{ user.jobapplication.copywriter }}</td>
                                <td>{{ user.jobapplication.editor }}</td>
                                <td>{{ user.jobapplication.translator }}</td>
                                <td>{{ user.jobapplication.article }}</td>
                                <td>{{ user.jobapplication.dateSubmit }}</td>
                                <td>{{ user.last_login }}</td>
                                {%if user.article.article.url != None %}
                                <td><a type="button" class="btn btn-primary" href="{{user.article.article.url}}">View</a></td>
                                {%else%}
                                <td><a type="button" class="btn btn-secondary disabled" href="#">None</a></td>
                                {% endif %}
                                {%if user.personaldetails.fname != None %}
                                <td><a type="button" class="btn btn-primary" href="{% url 'resumePrev' user.id %}">View</a></td>
                                {%else%}
                                <td><a type="button" class="btn btn-secondary disabled" href="#">None</a></td>
                                {% endif %}
                                <td><a type="button" href="{%url 'applicantmanagement' user.id %}" class="btn btn-primary"><i class="bi bi-three-dots"></i></a></td>
                            </tr>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>