{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Day Bootstrap Template - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png'%}" rel="icon" />
    <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet" />
    <!-- <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet" /> -->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'assets/vendor/jqUI/jquery-ui.min.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/polyfills.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="{% static 'assets/js/html2canvas.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js" integrity="sha512-U5C477Z8VvmbYAoV4HDq17tf4wG6HXPC6/KM9+0/wEXQQ13gmKY2Zb0Z2vu0VNUWch4GlJ+Tl/dfoLOH4i2msw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/admin/style.css'%}" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Day - v4.3.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    {% url 'dashboard' as the_url1 %}
    {% url 'applicantmanagement' as the_url2 %}
    {% url 'onboarding' as the_url3 %}
    {% url 'rejectedapp' as the_url4 %}
    {% url 'adminUsers' as the_url5 %}
    {% url 'setting' as the_url6 %}
    <div class="sidebar open">
        <div class="logo-details">
            <!-- <i class="bx bxl-c-plus-plus icon"></i> -->
            <img src="{% static 'assets/img/logos.png' %}" alt="" srcset="" class="icon" width="50px" height="50px">
            <div class="logo_name">HumanAlytics</div>
            <i class="bx bx-menu-alt-right" id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <i class="bx bx-search"></i>
                <input type="text" placeholder="Search..." />
                <span class="tooltip">Search</span>
            </li>
            <li>

                {% if request.path == the_url1%}

                <a href="{% url 'dashboard'%}" class="active">
                    <i class="bx bx-grid-alt"></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>

                {% else %}
                <a href="{% url 'dashboard'%}">
                    <i class="bx bx-grid-alt"></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
                {% endif %}
            </li>

            <li>
                {% if request.path == the_url2%}
                <a href="{% url 'applicantmanagement'%}" class="active">
                    <i class="bx bx-folder"></i>
                    <span class="links_name">Applicant Management</span>
                </a>
                <span class="tooltip">Files</span>
                {% else %}
                <a href="{% url 'applicantmanagement'%}">
                    <i class="bx bx-folder"></i>
                    <span class="links_name">Applicant Management</span>
                </a>
                <span class="tooltip">Files</span>
                {% endif %}
            </li>
            <!-- <li>
                    {% if request.path == the_url2%}
                    <a href="{% url 'applicantmanagement'%}" class="active">
                        <i class="bi bi-person-lines-fill"></i>
                        <span class="links_name">Applicant Management</span>
                    </a>
                    <span class="tooltip">Files</span>
                    {% else %}
                    <a href="{% url 'applicantmanagement'%}">
                        <i class="bi bi-person-lines-fill"></i>
                        <span class="links_name">Applicant Management</span>
                    </a>
                    <span class="tooltip">Files</span>
                    {% endif %}

                </li> -->

            <li>
                {% if request.path == the_url3%}
                <a href="{% url 'onboarding'%}" class="active">
                    <i class="bi bi-person-lines-fill"></i>
                    <span class="links_name">Onboarding Applicants</span>
                </a>
                <span class="tooltip">Onboarding Applicants</span>
                {% else %}
                <a href="{% url 'onboarding'%}">
                    <i class="bi bi-person-lines-fill"></i>
                    <span class="links_name">Onboarding Applicants</span>
                </a>
                <span class="tooltip">Onboarding Applicants</span>
                {% endif %}

            </li>

            <li>
                {% if request.path == the_url4%}
                <a href="{% url 'rejectedapp'%}" class="active">
                    <i class="bi bi-clipboard-x"></i>
                    <span class="links_name">Rejected Applicants</span>
                </a>
                <span class="tooltip">Files</span>
                {% else %}
                <a href="{% url 'rejectedapp'%}">
                    <i class="bi bi-clipboard-x"></i>
                    <span class="links_name">Rejected Applicants</span>
                </a>
                <span class="tooltip">Files</span>
                {% endif %}

            </li>
            {% if request.user.groups.all.0|stringformat:'s' == 'HR Manager'%}

            <li>
                {% if request.path == the_url5%}
                <a href="{% url 'adminUsers'%}" class="active">
                    <i class="bx bx-user"></i>
                    <span class="links_name">Account Management</span>
                </a>
                <span class="tooltip">Account Management</span>
                {% else %}

                <a href="{% url 'adminUsers'%}">
                    <i class="bx bx-user"></i>
                    <span class="links_name">Account Management</span>
                </a>
                <span class="tooltip">Account Management</span>
                {% endif %}

            </li>
            {% endif %}

            <!-- <li>
                <a href="#">
                    <i class="bx bx-pie-chart-alt-2"></i>
                    <span class="links_name">Analytics</span>
                </a>
                <span class="tooltip">Analytics</span>
            </li> -->

            <li>
                <a href="{% url 'index'%}">
                    <i class="bi bi-aspect-ratio"></i>
                    <span class="links_name">Website Preview</span>
                </a>
                <span class="tooltip">Website Preview</span>
            </li>
            {% if request.user.groups.all.0|stringformat:'s' == 'HR Manager'%}

            <li class="dropdown">
                {% if request.path == the_url6%}
                <a href="{% url 'websetting'%}" class="active">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Website Setting</span>
                </a>

                <span class="tooltip">Website Setting</span>
                {%else%}
                <a href="{% url 'websetting'%}">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Website Setting</span>
                </a>
                <span class="tooltip">Website Setting</span>
                {% endif %}
            </li>
            {% endif %}

            <li class="profile">
                <a href="{% url 'updateProfile' request.user.id %}" style="border:none; background-color:transparent;">
                    <div class="profile-details">
                        <img src="{{request.user.profile_image.url}}" alt="profileImg" />
                        <div class="name_job">
                            <div class="name">{{request.user.first_name}} {{request.user.last_name}}</div>

                            <div class="job">{{request.user.groups.all.0}}</div>

                        </div>
                    </div>
                </a>
                <a class="bx bx-log-out" id="log_out" href="{% url 'index'%}" style="color:white; padding-left: 10px;"></a>
            </li>
        </ul>
    </div>


    {% block content %}
    {% endblock %}


    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
        });

        searchBtn.addEventListener("click", () => {
            // Sidebar open when you click on the search iocn
            sidebar.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
        });

        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the iocns class
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the iocns class
            }
        }
    </script>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <!-- <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script> -->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

    <script>
        window.addEventListener('DOMContentLoaded', event => {
            // Simple-DataTables
            // https://github.com/fiduswriter/Simple-DataTables/wiki

            const datatablesSimple = document.getElementById('datatablesSimple');
            if (datatablesSimple) {
                new simpleDatatables.DataTable(datatablesSimple);
            }
        });
    </script>

    <!-- Template Main JS File -->
    <!-- <script src="{% static 'assets/js/main.js' %}"></script> -->
    <script src="{% static 'assets/js/admin/script.js' %}"></script>



    <script>
        $(document).ready(function () {
            $('.print').click(function () {
                window.html2canvas = html2canvas;
                window.jsPDF = window.jspdf.jsPDF;
                // var element = document.querySelector(".table-card");
                var element = $(this).closest('.table-card');
                html2canvas(element[0], {
                    letterRendering: 1,
                    allowTaint: true,
                    useCORS: true,
                    scale: 1,
                }).then(canvas => {
                    const imgData = canvas.toDataURL('image/png');
                    const doc = new jsPDF({
                        orientation: 'landscape',
                    });
                    const imgProps = doc.getImageProperties(imgData);
                    const pdfWidth = doc.internal.pageSize.getWidth();
                    const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;
                    doc.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight);
                    doc.save('Report.pdf');

                });
            });
        });
    </script>
    {% block scriptContent %} {% endblock %}
</body>

</html>