{% extends 'main/Client/include/base.html' %} {% load static%}
{% block cssJsLink %}
<style>
    body {
        background-color: #80beef;
    }
</style>

<link rel="stylesheet" href="{% static 'assets/vendor/jqUI/jquery-ui.min.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/polyfills.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script src="{% static 'assets/js/html2canvas.js' %}"></script>
<script src="{% static 'assets/js/html2canvas.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js" integrity="sha512-U5C477Z8VvmbYAoV4HDq17tf4wG6HXPC6/KM9+0/wEXQQ13gmKY2Zb0Z2vu0VNUWch4GlJ+Tl/dfoLOH4i2msw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block content %}

<main id="main" class="resumeMain">
    <input type="hidden" id="filename" value="{{user.personaldetails.lname}}">
    <div id="download-Container" class="shadow">
        <a class="download-A" href="#">
            <div class="button-download">
                <div class="download"><i class="bi bi-cloud-download-fill"></i></div>
            </div>
            <div id="resumeContainer" class="shadow">
                <page size="A4" id="A4">
                    <div class="page-container">
                        <div class="row">
                            <div class="col-4">
                                <div class="text-center">

                                    <img class="profile rounded mx-auto d-block" id="profilePic" src="{{user.personaldetails.profile_image.url}}">
                                    <p class="title"><span id='fullname' style="font-size: 16px;">{{user.personaldetails.fname}} {{user.personaldetails.lname}}</span> <br>
                                        <span class="subContent" id="jobWant">{{user.personaldetails.jobTitle}}</span>
                                        <hr>
                                    </p>
                                </div>
                                {% if user.personaldetails.profSummary != '' %}
                                <p class="title profileDiv">Profile <br>
                                    <span class="subContent" id="profileDesc">
                                        {{user.personaldetails.profSummary}}
                                    </span>
                                    <hr class="profileDiv">
                                </p>
                                {%endif%}

                                {% if skill %}
                                <p class="title skillDiv">Skill<br>
                                    <span class="subContent" id="skillContent">
                                        {%for s in skill%}
                                        <span id="preSkillName0">{{s}}</span><br>
                                        {%endfor%}
                                    </span>
                                </p>
                                <hr class="skillDiv">
                                {%endif%}
                                {% if link %}
                                <p class="title socialDiv">Links <br>
                                <div id="preSocialLink">
                                    <p class="subContent preSocialSub0">
                                        {%for l in link%}
                                        <span id="preLink0">{{l}}</span> <br>
                                        {%endfor%}
                                    </p>
                                </div>
                                </p>
                                <hr class="socialDiv">
                                {%endif%}

                            </div>
                            <div class="col-7">

                                <h5 class="title">Personal Info</h5>
                                <span class="subContent">
                                    <i class="bi bi-mailbox2 mailboxDiv"></i>
                                    <span id="preAddress">{{user.personaldetails.address}}</span>
                                    <span id="preCityPC">{{user.personaldetails.city}}</span>,
                                    <span id="preCountry">{{user.personaldetails.postalcode}} {{user.personaldetails.country}}</span><br>
                                    <i class="bi bi-envelope-fill envelopeDiv"></i>
                                    <span id="preEmail">{{user.personaldetails.email}}</span>
                                    <div class="float-end">
                                        <i class="bi bi-phone-fill phoneDiv"></i>
                                        <span id="preNumber"></span>{{user.personaldetails.phone}}<br>
                                    </div>
                                    <div class="row">
                                        <div class="col">

                                            <div id="dateDivider">
                                                <span id="preLabelBirth">Place of birth / Date </span> <br>
                                                <span id="preBirthday">{{user.personaldetails.birthplace}}, {{user.personaldetails.birthdate}}</span><br>
                                            </div>
                                        </div>
                                        <div class="col">

                                            <div id="nationalDivider">
                                                <span id="preLabelNationality">Nationality</span> <br>
                                                <span id="preNationality">{{user.personaldetails.nationality}}</span><br>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                <hr>
                                {% if experience %}
                                <h5 class="title experienceDiv">Experience</h5>
                                <div id="preWorkExperience">
                                    {%for job in experience%}
                                    <p class="subtitle preWorkSub0">
                                        <span id="preWorkTitle0">{{job}}</span>,
                                        <span id="preEmployer0">{{job.employer}}</span>,
                                        <span id="preWorkCity0">{{job.city}}</span><br>
                                        <span class="subContent">
                                            <span id="preWorkstartDate0">{{job.start_date}}</span> -
                                            <span id="preWorkendDate0">{{job.end_date}}</span> <br>
                                            &emsp;-&emsp;<span id="preWorkDesc0">{{job.description}}</span>
                                        </span>
                                    </p>

                                    {%endfor%}
                                </div>
                                <hr class="experienceDiv">
                                {%endif%}
                                {% if education %}
                                <h5 class="title educDiv">Education</h5>
                                <div id="preEducation">
                                    {%for educ in education%}

                                    <p class="subtitle preEducSub0">
                                        <span id="preEducTitle0">{{educ}}</span>,
                                        <span id="preEducCity0">{{educ.city}}</span><br>
                                        <span class="subContent">
                                            <span id="preEducstartDate0">{{educ.start_date}}</span> -
                                            <span id="preEducendDate0">{{educ.end_date}}</span> <br>
                                            &emsp;-&emsp;<span id="preEducDegree0">{{educ.degree}}</span>
                                        </span>
                                    </p>
                                    {%endfor%}

                                </div>
                                <hr class="educDiv">

                                {%endif%}
                                {% if reference%}
                                <h5 class="title refDiv">Reference</h5>
                                <div id="preReference">
                                    {%for ref in reference%}
                                    <p class="subtitle preRefSub0">
                                        <span id="preRefName0">{{ref}}</span>,
                                        <span id="preRefCompany0">{{ref.company}}</span><br>
                                        <span class="subContent">
                                            <span id="preRefEmail0">{{ref.company}}</span> -
                                            <span id="preRefPhone0">{{ref.company}}</span> <br>
                                        </span>
                                    </p>
                                    {%endfor%}

                                </div>
                                <hr class="refDiv">
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </page>

            </div>
        </a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-body  text-center">


                            <p class="h2"><i class="bi bi-check-circle-fill" style="font-size: 100px;"></i> <br> Well done,</p>
                            <p class="">Your download will begone shortly.</p>
                            <button type="button" class="btn text-center mb-5 mt-2" onclick="submitForms()" style="width: auto;">Submit Application</button>
                            <!-- data-bs-dismiss="modal" -->
                            <div class="custom-shape-divider-bottom-1630055058">
                                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                                    <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                                    <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                                    <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block scriptContent %}

<script>
    $(document).ready(function () {
        $(".download-A").hover(
            function (e) {
                e.stopPropagation();
                $(".download").show(100);
            }, function (e) {
                e.stopPropagation();
                $(".download").hide(100);
            }
        );
        $('.download-A').click(function () {

            window.html2canvas = html2canvas;
            window.jsPDF = window.jspdf.jsPDF;
            var element = document.querySelector("[size=A4]");
            var doc = new jsPDF('p', 'cm', [21.59, 27.94]);
            html2canvas(element, {
                letterRendering: 1,
                allowTaint: true,
                useCORS: true,
                scale: 1
            }).then(canvas => {
                var img = canvas.toDataURL("image/png");
                doc.addImage(img, 'png', 0, 0);
                doc.save($("#filename").val() + ".pdf");
            });
            var myModal = new bootstrap.Modal(document.getElementById("exampleModal"), {});
            myModal.show();
        });
    });
</script>
{% endblock %}